v1_Flujo HU13 a HU4.json
{
  "name": "HU13 a HU4",
  "nodes": [
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://empleos.santander.cl/app/minisite/site/_search",
        "responseFormat": "string",
        "jsonParameters": true,
        "options": {
          "followAllRedirects": true,
          "ignoreResponseCode": true
        },
        "bodyParametersJson": "=={{ {\n  from: 0,\n  size: $json.tamano || 25,\n  query: {\n    simple_query_string: { query: $json.q || '' }\n  }\n} }}",
        "headerParametersJson": "=={{ {\n  \"User-Agent\": \"Mozilla/5.0\",\n  \"Accept-Language\": \"es-CL,es;q=0.9\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"application/json,*/*\"\n} }}\n"
      },
      "id": "9941371b-d686-4580-9141-dbf0b86adbab",
      "name": "HU4 HTTP Santander",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        480,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "// Soporta JSON (hits.hits) o respuesta String (intenta parsear; fallback HTML)\nlet text = $json.data ?? $json.body ?? null;\nlet hits = [];\n\nif (typeof text === \"string\") {\n  let t = text.trim();\n  if (t.startsWith(\")]}'\")) t = t.slice(4).trim(); // anti-XSSI\n  try { const js = JSON.parse(t); hits = js?.hits?.hits || []; } catch {}\n} else if ($json?.hits?.hits) {\n  hits = $json.hits.hits;\n}\n\nif (!hits.length) {\n  // Fallback: intentar raspar enlaces si fue HTML\n  const html = typeof text === \"string\" ? text : \"\";\n  const re = /<a[^>]+href=\"([^\"]+)\"[^>]*>(.*?)<\\/a>/gi;\n  const alt = [];\n  let m; \n  while ((m = re.exec(html)) && alt.length < 25) {\n    const link = m[1];\n    const titulo = (m[2] || \"\").replace(/<[^>]+>/g, \"\").trim();\n    if (titulo && link) alt.push({ fuente:\"Santander\", titulo, link, region:\"Sin región\", modalidad:\"Presencial\" });\n  }\n  return alt.length ? alt.map(x => ({ json: x })) \n                    : [{ json: { fuente: \"Santander\", mensaje: \"Sin resultados o respuesta no JSON\" } }];\n}\n\nconst out = hits.map(h => {\n  const s = h._source || h;\n  const titulo = s?.title || \"Sin título\";\n  const link = s?.applyUrl || s?.url || \"\";\n  const region = (s?.location && (s.location.display_name || s.location.city)) || s?.city || \"Sin región\";\n  const modalidad = /remot/i.test(((s?.modality || \"\") + \" \" + region)) ? \"Remoto\" : \"Presencial\";\n  return { fuente: \"Santander\", titulo, link, region, modalidad };\n});\n\nreturn out.map(x => ({ json: x }));\n"
      },
      "id": "c3f57a05-fe39-4611-9c4a-a8155fcf4190",
      "name": "HU4 Parse Santander",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        496
      ]
    },
    {
      "parameters": {
        "formTitle": "Solicitud de reporte inmediato",
        "formDescription": "Genera un reporte inmediato usando tus preferencias guardadas.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "e58b3651-a09c-45c1-a48f-a21dc788ffb6",
      "name": "HU4 - Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1440,
        192
      ],
      "webhookId": "hu4_form_001"
    },
    {
      "parameters": {
        "jsCode": "return [{ email: String($input.first().json.Email).trim().toLowerCase() }];"
      },
      "id": "0743f507-5dc9-4a5f-acbe-2d670a92900c",
      "name": "Normalizar email HU4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "93a61adf-edb1-4f5b-9b19-b8db59842231",
              "leftValue": "={{ $json.exceeded }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8d077bfc-0f08-4b7d-9d4d-ad10b8cb1a8b",
      "name": "HU13 - IF (exceeded?)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -304,
        192
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "mensaje",
              "value": "Has alcanzado tu límite mensual de reportes on-demand."
            }
          ]
        },
        "options": {}
      },
      "id": "6f68cee3-e9f9-427e-aa07-6c87fa03f059",
      "name": "HU13 - Mensaje Límite Alcanzado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -64,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const u = $json;\nreturn [{ email: u.Email, region: u[\"Región\"], modalidad: u[\"Modalidad\"], q: \"práctica informática\" }];"
      },
      "id": "03713899-def2-421c-97a2-40598968f5ec",
      "name": "HU4 - Build Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        272
      ]
    },
    {
      "parameters": {
        "url": "https://api.scraperapi.com?api_key=demo&url=https://cl.indeed.com/jobs?q=práctica+informática&render=true",
        "responseFormat": "string",
        "options": {
          "followAllRedirects": true,
          "ignoreResponseCode": true
        }
      },
      "id": "a73f6d3a-1732-469b-9623-f2f00a18c792",
      "name": "HU4 HTTP Indeed1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        464,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { fuente: 'Indeed', titulo: 'Ejemplo', link: 'demo' } }];"
      },
      "id": "e7efa756-cec4-4fca-a8a3-908c948db934",
      "name": "HU4 Parse Indeed1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        80
      ]
    },
    {
      "parameters": {},
      "id": "b850d142-c699-4705-8491-becc8fa09332",
      "name": "HU4 Merge Results1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        896,
        960
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 808930077,
          "mode": "list",
          "cachedResultName": "LimitesReportes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit#gid=808930077"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('HU4 - Form Trigger').first().json.Email }}",
            "mes": "={{ $now.format('yyyy-MM') }}",
            "limite": "={{ $('HU13 - Get Límite (HU4)').first().json.limite }}",
            "usados": "={{ $json.usados_nuevo }}",
            "actualizado_ts": "={{ $now }}\n"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "limite",
              "displayName": "limite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "usados",
              "displayName": "usados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mes",
              "displayName": "mes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "actualizado_ts",
              "displayName": "actualizado_ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "key",
              "displayName": "key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "19cb98f7-2dff-428a-b5c2-37d5103f38cb",
      "name": "HU13 - Incrementar Consumo1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        240,
        688
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3ir3Blw8QjsXap0a",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://r.jina.ai/https://www.laborum.cl/empleos-busqueda-practica-informatica.html",
        "allowUnauthorizedCerts": true,
        "responseFormat": "string",
        "jsonParameters": true,
        "options": {
          "followAllRedirects": true,
          "ignoreResponseCode": true
        }
      },
      "id": "5f6900dc-badb-4c7f-8b66-79d511fe6045",
      "name": "HU4 HTTP Laborum1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        464,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "// === PARSER LABORUM v8 - Limpieza avanzada ===\nconst raw = $json.data || $json.body || \"\";\nconst text = String(raw).replace(/\\r/g, \"\").trim();\n\n// --- Expresión más flexible ---\nconst regex = /\\[(?:Nuevo|Actualizado|\\#\\#\\#)?[^\\]]*?(Práctica[^\\#\\n]+|Alumno en Práctica[^\\#\\n]*)[^\\]]*?\\#\\#\\#\\s*([A-ZÁÉÍÓÚÑÜ][^\\#\\n]+?)\\s*(?:\\#\\#\\#\\s*([^#\\n]+?))?\\s*\\#\\#\\#\\s*(Presencial|Remoto|Híbrido)[^\\]]*\\]\\((https:\\/\\/www\\.laborum\\.cl\\/empleos\\/[^\\)]+)\\)/gi;\n\nconst out = [];\nlet match;\n\nwhile ((match = regex.exec(text))) {\n  let titulo   = (match[1] || \"\").replace(/[-–—]+/g, \"\").trim();\n  let empresa  = (match[2] || \"\").trim();\n  let region   = (match[3] || \"\").trim();\n  let modalidad= (match[4] || \"\").trim() || \"Presencial\";\n  let link     = (match[5] || \"\").trim();\n\n  // --- LIMPIEZA ---\n  // 1. Eliminar Markdown residual e imágenes\n  empresa = empresa.replace(/!\\[.*?\\]\\(.*?\\)/g, \"\").replace(/\\s{2,}/g, \" \").trim();\n  region  = region.replace(/!\\[.*?\\]\\(.*?\\)/g, \"\").replace(/\\s{2,}/g, \" \").trim();\n  titulo  = titulo.replace(/!\\[.*?\\]\\(.*?\\)/g, \"\").replace(/\\s{2,}/g, \" \").trim();\n\n  // 2. Si empresa contiene \"Región\", intercambiar\n  if (/Región/i.test(empresa)) {\n    region = empresa;\n    empresa = \"Sin empresa\";\n  }\n\n  // 3. Si región está vacía o sin \"Región\", intentar buscar dentro del bloque\n  if (!/Región/i.test(region)) {\n    const m = empresa.match(/([A-ZÁÉÍÓÚÑÜa-zñü\\s]+,\\s*Región\\s*[A-ZÁÉÍÓÚÑÜIVX]+)/);\n    if (m) {\n      region = m[1].trim();\n      empresa = empresa.replace(m[0], \"\").trim();\n    }\n  }\n\n  // 4. Recortar empresa si es descripción larga\n  if (empresa.split(/\\s+/).length > 6) {\n    empresa = empresa\n      .replace(/Somos.*|Compañía.*|Empresa.*|holding.*|S\\.A\\..*|Sociedad.*|Limitada.*|con.*|del.*|la.*|los.*|las.*|de.*$/gi, \"\")\n      .trim();\n  }\n\n  // 5. Limpieza final\n  empresa = empresa.replace(/[,.-]+$/g, \"\").trim();\n  region  = region.replace(/^Región\\s*/i, \"\").trim() || \"Sin región\";\n  titulo  = titulo.replace(/-{2,}|={2,}/g, \"\").trim();\n\n  if (link) {\n    out.push({\n      fuente: \"Laborum\",\n      titulo,\n      empresa: empresa || \"Sin empresa\",\n      region,\n      modalidad,\n      link\n    });\n  }\n}\n\n// --- Fallback mínimo ---\nif (out.length === 0) {\n  const altRegex = /\\[\\s*(Práctica[^\\#\\n]+|Alumno en Práctica[^\\#\\n]*)[^\\]]*\\]\\((https:\\/\\/www\\.laborum\\.cl\\/empleos\\/[^\\)]+)\\)/gi;\n  let m;\n  while ((m = altRegex.exec(text))) {\n    out.push({\n      fuente: \"Laborum\",\n      titulo: (m[1] || \"\").trim(),\n      empresa: \"Sin empresa\",\n      region: \"Sin región\",\n      modalidad: \"Presencial\",\n      link: m[2]\n    });\n  }\n}\n\n// --- Eliminar duplicados ---\nconst unicos = out.filter((v, i, a) => a.findIndex(t => t.link === v.link) === i);\n\nreturn unicos.length\n  ? unicos.map(x => ({ json: x }))\n  : [{ json: { fuente: \"Laborum\", mensaje: \"Sin resultados válidos\", total: 0 } }];\n"
      },
      "id": "2d1c0975-89f3-40d3-8ab9-9c494ef846da",
      "name": "HU4 Parse Laborum1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        272
      ]
    },
    {
      "parameters": {
        "content": "HU4 - Reporte Inmediato - Integrada con HU13",
        "height": 80,
        "width": 304,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1488,
        16
      ],
      "id": "b10ba3c2-87d7-4200-a583-f056092981e2",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const limiteRow = $items('HU13 - Get Límite (HU4)')[0].json;\nconst consumoRow = $items('HU13 - Get Consumo Actual(HU4)')[0].json;\n\nconst limite = Number(limiteRow.limite || 0);\nconst usados = Number(consumoRow.usados || 0);\n\nreturn [{\n  exceeded: usados >= limite,\n  limite,\n  usados\n}];\n"
      },
      "id": "223b5e70-d208-4cef-8a57-ac1ae9f1d811",
      "name": "HU13 - IF excede límite? (HU4)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        192
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Registro de Inscritos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "estado",
              "lookupValue": "=ACTIVA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        256
      ],
      "id": "218a2ad6-82f9-4562-890b-efa79b636c38",
      "name": "Obtener Preferencias(HU4)",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3ir3Blw8QjsXap0a",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 808930077,
          "mode": "list",
          "cachedResultName": "LimitesReportes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit#gid=808930077"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fbb74254-4bd3-4307-8418-f1427c6f9bfc",
      "name": "HU13 - Get Consumo Actual(HU4)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -720,
        192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3ir3Blw8QjsXap0a",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener datos desde los nodos anteriores\nconst limiteRow = $items('HU13 - Get Límite (HU4)')[0].json;\nconst consumoRow = $items('HU13 - Get Consumo Actual(HU4)')[0].json;\nconst emailRow = $items('Normalizar email HU4')[0].json;\n\n// Convertir valores\nconst limite = Number(limiteRow.limite || 0);\nconst usados_actual = Number(consumoRow.usados || 0);\n\n// Incremento\nconst usados_nuevo = usados_actual + 1;\n\n// Mes actual YYYY-MM\nconst mes = new Date().toISOString().slice(0, 7);\n\n// Timestamp\nconst actualizado_ts = new Date().toISOString();\n\n// Devolver un único item limpio\nreturn [\n  {\n    email: emailRow.email,\n    limite,\n    usados_actual,\n    usados_nuevo,\n    mes,\n    actualizado_ts\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        688
      ],
      "id": "815b15b1-da1e-4a58-a5af-1a3aac41179f",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 808930077,
          "mode": "list",
          "cachedResultName": "LimitesReportes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit#gid=808930077"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $('HU4 - Form Trigger').item.json.Email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4809a976-5fc5-4082-91c4-21892a59f39c",
      "name": "HU13 - Get Límite (HU4)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -976,
        192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3ir3Blw8QjsXap0a",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xhrrKc9J4yluGKOtezrDkrAui_L5t-1FaHIoyaPLC8E",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1368021364,
          "mode": "list",
          "cachedResultName": "Errores",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xhrrKc9J4yluGKOtezrDkrAui_L5t-1FaHIoyaPLC8E/edit#gid=1368021364"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now }}",
            "email": "={{ $('Split In Batches1').item.json.email }}",
            "fuente": "={{ $json.fuente || \"desconocida\" }}",
            "status": "={{ $json.statusCode || $json.code || \"\" }}",
            "mensaje": "={{ $json.mensaje || $json.error || \"sin datos\" }}",
            "preview": "={{ $json | json }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fuente",
              "displayName": "fuente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "preview",
              "displayName": "preview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -960,
        896
      ],
      "id": "c45b70bd-e2a6-412f-8cdf-50c18fc4cd5d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3ir3Blw8QjsXap0a",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "link",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -848,
        688
      ],
      "id": "9e637e79-b883-482c-81e8-3670109faa6f",
      "name": "Remove Duplicates",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ================================================\n// FILTRAR POR PREFERENCIAS (Versión FINAL 2025 AJUSTADA)\n// Mantiene tus llamadas EXACTAS a Split In Batches1\n// Incluye mapa de equivalencias de regiones\n// ================================================\n\n\n// === Helpers ===\nfunction normalize(s) {\n    return String(s || \"\")\n        .normalize(\"NFD\")\n        .replace(/[\\u0300-\\u036f]/g, \"\")\n        .toLowerCase()\n        .trim();\n}\n\n// Canon modalidad → remoto / hibrido / presencial\nfunction canonModa(s) {\n    const t = normalize(s);\n    if (!t) return \"\";\n\n    if (t.includes(\"remot\")) return \"remoto\";\n    if (t.includes(\"hibrid\") || t.includes(\"mixt\") || t.includes(\"semi\"))\n        return \"hibrido\";\n    if (t.includes(\"presenc\") || t.includes(\"oficin\") || t.includes(\"onsite\"))\n        return \"presencial\";\n\n    return \"\";\n}\n\n\n// ================================================\n// NUEVO: MAPA DE REGIONES → Para igualar VIII, Concepción, Bío Bío, etc.\n// ================================================\nconst REGION_MAP = {\n    \"region metropolitana\": [\"rm\", \"metropolitana\", \"santiago\"],\n    \"region de valparaiso\": [\"region v\", \"valparaiso\"],\n    \"region del biobio\": [\"region viii\", \"concepcion\", \"bio bio\", \"bío bío\"],\n    \"region de coquimbo\": [\"region iv\", \"coquimbo\", \"la serena\"],\n    \"region de atacama\": [\"region iii\"],\n    \"region de antofagasta\": [\"region ii\", \"antofagasta\"],\n    \"region de tarapaca\": [\"region i\", \"iquique\"],\n    \"region de arica y parinacota\": [\"region xv\", \"arica\"],\n    \"region del maule\": [\"region vii\", \"maule\", \"talca\"],\n    \"region de ohiggins\": [\"region vi\", \"ohiggins\", \"rancagua\"],\n    \"region de los lagos\": [\"region x\", \"puerto montt\"],\n    \"region de los rios\": [\"region xiv\", \"valdivia\"],\n    \"region de aysen\": [\"region xi\", \"aysen\"],\n    \"region de magallanes\": [\"region xii\", \"punta arenas\"],\n};\n\n// Canon región\nfunction canonRegion(txt) {\n    const clean = normalize(txt);\n\n    for (const [std, aliases] of Object.entries(REGION_MAP)) {\n        if (clean.includes(std)) return std;\n\n        for (const a of aliases) {\n            if (clean.includes(a)) return std;\n        }\n    }\n\n    return clean; // fallback\n}\n\n\n// ================================================\n// 1) OBTENER PREFERENCIAS (mantengo EXACTAMENTE tus llamadas)\n// ================================================\nconst prefRegionRaw =$('Obtener Preferencias(HU4)').first().json['Región'] || \"\";\nconst prefModaRaw   = $('Obtener Preferencias(HU4)').first().json.Modalidad|| \"\";\n\nconst prefRegion = canonRegion(prefRegionRaw);\nconst prefModa   = canonModa(prefModaRaw);\n\n\n// ================================================\n// 2) FILTROS AJUSTADOS\n// ================================================\nfunction matchRegion(prefRegion, regionItem) {\n    if (!prefRegion) return true;\n    return canonRegion(regionItem) === prefRegion;\n}\n\nfunction matchModa(prefModa, itemModa) {\n    if (!prefModa) return true;\n\n    if (prefModa === \"remoto\") {\n        return itemModa === \"remoto\" || itemModa === \"hibrido\";\n    }\n\n    return itemModa === prefModa;\n}\n\n\n// ================================================\n// 3) PROCESAR OFERTAS (mantengo EXACTO tu bloque)\n// ================================================\nconst out = [];\n\nfor (const { json } of items) {\n    if (!json.link) continue;\n\n    const regionItem = json.region || \"\";\n\n    const modaItem =\n        canonModa(json.modalidad) ||\n        canonModa(json.region) ||\n        canonModa(json.titulo) ||\n        \"presencial\";\n\n    if (matchRegion(prefRegion, regionItem) && matchModa(prefModa, modaItem)) {\n        out.push({ json: { ...json, modalidad: modaItem } });\n    }\n}\n\n\n// ================================================\n// 4) DEBUG SI NO HAY COINCIDENCIAS\n// ================================================\nif (out.length === 0) {\n    return [{\n        json: {\n            msg: \"Sin coincidencias\",\n            prefRegionRaw,\n            prefRegion,\n            prefModa,\n            total_in: items.length\n        }\n    }];\n}\n\n\n// ================================================\n// 5) RESULTADO FINAL\n// ================================================\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        688
      ],
      "id": "278a031e-84a1-4664-9f7a-a6ff68789c62",
      "name": "Filtrar por preferencias"
    },
    {
      "parameters": {
        "jsCode": "// Limpia parámetros de tracking en los links antes de deduplicar\nconst stripParams = [\n  'utm_source','utm_medium','utm_campaign','utm_term','utm_content',\n  'gclid','fbclid','fccid','vjs','from','ad','dq'\n];\n\nreturn items.map(({ json }) => {\n  if (json.link && typeof json.link === 'string') {\n    // normaliza entidades HTML tipo &amp;\n    let href = json.link.trim().replace(/&amp;/g, '&');\n\n    try {\n      // Soporta links relativos (Indeed a veces trae /rc/clk?...):\n      if (href.startsWith('/')) href = 'https://cl.indeed.com' + href;\n\n      const u = new URL(href);\n      // elimina parámetros de tracking\n      stripParams.forEach(p => u.searchParams.delete(p));\n      // quita el fragmento #...\n      u.hash = '';\n      // normaliza protocolo a https si venía http\n      if (u.protocol === 'http:') u.protocol = 'https:';\n\n      json.link = u.toString();\n    } catch {\n      // si falla el parseo, al menos quita &amp; y espacios\n      json.link = href;\n    }\n  }\n  return { json };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        688
      ],
      "id": "662739f4-233c-47d7-b67d-de86cfd2886d",
      "name": "limpiar links",
      "notes": "A veces el mismo aviso trae el mismo link con parámetros de tracking distintos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d154a72-080e-415d-a29e-9337eba90379",
              "leftValue": "={{ $json.link || '' }}\n",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1296,
        784
      ],
      "id": "3130d998-54c1-4bbb-a48d-c1d7f9bdfc80",
      "name": "If - link existe (válido)",
      "notes": "TRUE → limpiar links → remove duplicates → filtrar preferencias\nFALSE → log a hoja \"Errores\" (timestamp, email, fuente, status, mensaje, preview)\n"
    },
    {
      "parameters": {
        "jsCode": "// === APLANADOR UNIVERSAL + EMAIL BUILDER PRO (Versión Fer 2025) ===\n\n// -----------------------------------------\n// Helpers generales\n// -----------------------------------------\nfunction unbox(obj) {\n  let j = obj?.json ?? obj ?? {};\n  if (j && typeof j === \"object\" && j.json && typeof j.json === \"object\") j = j.json;\n  for (const k of [\"oferta\", \"payload\", \"data\", \"result\", \"resultado\", \"item\"])\n    if (j && typeof j[k] === \"object\" && j[k] !== null) {\n      j = j[k];\n      break;\n    }\n  return j || {};\n}\n\nfunction esc(s) {\n  return String(s ?? \"\").replace(/[&<>\\\"']/g, m => ({ \n    \"&\": \"&amp;\", \n    \"<\": \"&lt;\", \n    \">\": \"&gt;\", \n    \"\\\"\": \"&quot;\", \n    \"'\": \"&#39;\" \n  }[m]));\n}\n\nfunction pick(...xs) {\n  for (const x of xs) {\n    if (x !== undefined && x !== null && String(x).trim() !== \"\") return x;\n  }\n  return \"\";\n}\n\n// -----------------------------------------\n// 1) Tomar preferencias REALES del usuario actual\n//    (desde Split In Batches → usuario activo)\n// -----------------------------------------\n\n\nconst prefRegion =$('Obtener Preferencias(HU4)').first().json['Región']; \nconst prefModalidad =$('Obtener Preferencias(HU4)').first().json.Modalidad ;\nconst emailTo =$('HU4 - Form Trigger').first().json.Email;\n\n\n// -----------------------------------------\n// 2) Aplanar resultados\n// -----------------------------------------\nconst filasRaw = items.map(unbox);\n\nconst filas = filasRaw\n  .map(r => ({\n    fuente: pick(r.fuente, r.source, r.origen, \"desconocida\"),\n    titulo: pick(r.titulo, r.title, r.nombre),\n    empresa: pick(r.empresa, r.company, r.organizacion, \"Sin empresa\"),\n    region: pick(r.region, r.ubicacion, r.location, \"Sin región\"),\n    modalidad: pick(r.modalidad, r.mode, r.tipoModalidad, \"Presencial\"),\n    link: pick(r.link, r.url, r.href)\n  }))\n  .filter(r => r.titulo || r.link);\n\n// total resultados\nconst total = filas.length;\n\n// -----------------------------------------\n// 3) Métricas por fuente\n// -----------------------------------------\nconst porFuente = {};\nfor (const r of filas) porFuente[r.fuente] = (porFuente[r.fuente] || 0) + 1;\n\nconst stats = Object.entries(porFuente)\n  .map(([k, v]) => `<li><b>${esc(k)}</b>: ${v}</li>`)\n  .join(\"\");\n\n// -----------------------------------------\n// 4) Tabla HTML\n// -----------------------------------------\nconst rowsHtml = filas\n  .map(\n    (r, i) => `\n<tr>\n  <td style=\"text-align:center;color:#555;\">${i + 1}</td>\n  <td style=\"font-weight:500;\">${esc(r.titulo)}</td>\n  <td style=\"color:#444;\">${esc(r.empresa)}</td>\n  <td style=\"color:#777;\">${esc(r.fuente)}</td>\n  <td style=\"text-align:center;\">\n    ${r.link ? `<a href=\"${esc(r.link)}\" target=\"_blank\" style=\"color:#2563eb;text-decoration:none;\">Ver oferta</a>` : \"\"}\n  </td>\n</tr>`\n  )\n  .join(\"\");\n\n// -----------------------------------------\n// 5) Construcción del HTML final\n// -----------------------------------------\nconst html = `\n<div style=\"font-family:'Segoe UI',Arial,sans-serif;max-width:900px;margin:auto;background:#f9fafb;border-radius:8px;overflow:hidden;\">\n  <div style=\"background:#2563eb;color:white;padding:16px 20px;\">\n    <h2 style=\"margin:0;font-weight:600;\">Reporte Inmediato</h2>\n    <p style=\"margin:4px 0 0;font-size:14px;\">Total encontrados: <b>${total}</b></p>\n  </div>\n\n  <div style=\"padding:20px 24px;\">\n\n    <div style=\"margin-bottom:10px;padding:12px 16px;background:#eef2ff;border-radius:6px;\">\n      <p style=\"margin:0;font-size:14px;color:#374151;\">\n        <b>Región preferida:</b> ${esc(prefRegion)}<br>\n        <b>Modalidad deseada:</b> ${esc(prefModalidad)}\n      </p>\n    </div>\n\n    ${\n      stats\n        ? `<p style=\"margin-bottom:4px;\">Distribución por fuente:</p><ul style=\"margin-top:4px;\">${stats}</ul>`\n        : \"<p><i>Sin conteo por fuente.</i></p>\"\n    }\n\n    <table border=\"0\" cellpadding=\"8\" cellspacing=\"0\" style=\"border-collapse:collapse;width:100%;margin-top:10px;background:white;border:1px solid #e5e7eb;\">\n      <thead style=\"background:#f3f4f6;\">\n        <tr>\n          <th style=\"text-align:center;\">#</th>\n          <th style=\"text-align:left;\">Título</th>\n          <th style=\"text-align:left;\">Empresa</th>\n          <th style=\"text-align:left;\">Fuente</th>\n          <th style=\"text-align:center;\">Link</th>\n        </tr>\n      </thead>\n      <tbody>\n        ${\n          rowsHtml ||\n          `<tr><td colspan=\"5\" style=\"text-align:center;padding:16px;color:#888;\">Sin resultados válidos</td></tr>`\n        }\n      </tbody>\n    </table>\n\n    <p style=\"margin-top:16px;font-size:12px;color:#6b7280;text-align:center;\">\n      Correo generado automáticamente por <b>n8n</b>. No responder a este mensaje.\n    </p>\n  </div>\n</div>\n`;\n\nconst subject = total > 0\n  ? `Resultados: ${total} prácticas encontradas`\n  : `No se encontraron prácticas`;\n\nreturn [\n  {\n    json: {\n      to: emailTo,\n      subject,\n      html,\n      text: `Se encontraron ${total} resultados.`,\n      total\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        688
      ],
      "id": "0c9e4369-f122-46f0-96fe-2b34fabb9aea",
      "name": "Build HTML"
    },
    {
      "parameters": {
        "fromEmail": "buscador.practicasinformatica@gmail.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -272,
        688
      ],
      "id": "b16a9275-bce9-4425-8a1c-e9a692e4f548",
      "name": "Send email",
      "webhookId": "c8d3c268-f510-472c-b4de-4f38ab0157db",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "pN6T8YGU9dLjzt07",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 51153146,
          "mode": "list",
          "cachedResultName": "CantReporte",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit#gid=51153146"
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('HU4 - Form Trigger').first().json.Email }}"
            },
            {
              "fieldId": "tipo",
              "fieldValue": "=Programado"
            }
          ]
        },
        "options": {}
      },
      "id": "9804aa15-af5b-46ad-86ff-0a3079fa7c11",
      "name": "HU7 - Registrar Consulta2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -496,
        912
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3ir3Blw8QjsXap0a",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HU4 HTTP Santander": {
      "main": [
        [
          {
            "node": "HU4 Parse Santander",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HU4 - Form Trigger": {
      "main": [
        [
          {
            "node": "Normalizar email HU4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar email HU4": {
      "main": [
        [
          {
            "node": "HU13 - Get Límite (HU4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HU13 - IF (exceeded?)": {
      "main": [
        [
          {
            "node": "HU13 - Mensaje Límite Alcanzado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Preferencias(HU4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HU4 - Build Query": {
      "main": [
        [
          {
            "node": "HU4 HTTP Laborum1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HU4 HTTP Indeed1": {
      "main": [
        [
          {
            "node": "HU4 Parse Indeed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HU4 Merge Results1": {
      "main": [
        [
          {
            "node": "If - link existe (válido)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HU4 HTTP Laborum1": {
      "main": [
        [
          {
            "node": "HU4 Parse Laborum1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HU4 Parse Laborum1": {
      "main": [
        [
          {
            "node": "HU4 Merge Results1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HU13 - IF excede límite? (HU4)": {
      "main": [
        [
          {
            "node": "HU13 - IF (exceeded?)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Preferencias(HU4)": {
      "main": [
        [
          {
            "node": "HU4 - Build Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HU13 - Get Consumo Actual(HU4)": {
      "main": [
        [
          {
            "node": "HU13 - IF excede límite? (HU4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HU13 - Incrementar Consumo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HU13 - Get Límite (HU4)": {
      "main": [
        [
          {
            "node": "HU13 - Get Consumo Actual(HU4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Filtrar por preferencias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar por preferencias": {
      "main": [
        [
          {
            "node": "Build HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "HU7 - Registrar Consulta2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "limpiar links": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - link existe (válido)": {
      "main": [
        [
          {
            "node": "limpiar links",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e2ed8748-8cd6-4bec-a07a-09f41fcb9704",
  "meta": {
    "instanceId": "49182ba69a2f30f291f54966c1f37e36be55c887865edaddf2d63e89079d22d9"
  },
  "id": "UR15XTZiQbIgH7Pd",
  "tags": []
}
