historias/HU1.json
{
  "name": "HU1",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Sistema automatizado para la búsqueda de prácticas profesionales en Informática",
        "formDescription": " Este proyecto tiene como objetivo desarrollar un sistema automatizado que facilite la búsqueda y gestión de prácticas profesionales en el área de Informática. La solución permite conectar de manera eficiente a estudiantes con empresas que ofrecen oportunidades de práctica, optimizando el proceso mediante el uso de tecnología y algoritmos de filtrado inteligente.  ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nombre:",
              "requiredField": true
            },
            {
              "fieldLabel": "Apellido:",
              "requiredField": true
            },
            {
              "fieldLabel": "Email:",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Elije la frecuencia con la cual deseas recibir ofertas:",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "30 min."
                  },
                  {
                    "option": "24 hrs"
                  },
                  {
                    "option": "Cada semana"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Modalidad:",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Remota"
                  },
                  {
                    "option": "Presencial"
                  },
                  {
                    "option": "Híbrido"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Elije la Región en la cual te gustaría centrar tu busqueda:",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Región de Arica y Parinacota (XV) – Capital: Arica"
                  },
                  {
                    "option": "Región de Tarapacá (I) – Capital: Iquique"
                  },
                  {
                    "option": "Región de Antofagasta (II) – Capital: Antofagasta"
                  },
                  {
                    "option": "Región de Atacama (III) – Capital: Copiapó"
                  },
                  {
                    "option": "Región de Coquimbo (IV) – Capital: La Serena"
                  },
                  {
                    "option": "Región de Valparaíso (V) – Capital: Valparaíso"
                  },
                  {
                    "option": "Región Metropolitana de Santiago (RM) – Capital: Santiago"
                  },
                  {
                    "option": "Región del Libertador General Bernardo O’Higgins (VI) – Capital: Rancagua"
                  },
                  {
                    "option": "Región del Maule (VII) – Capital: Talca"
                  },
                  {
                    "option": "Región de Ñuble (XVI) – Capital: Chillán"
                  },
                  {
                    "option": "Región del Biobío (VIII) – Capital: Concepción"
                  },
                  {
                    "option": "Región de La Araucanía (IX) – Capital: Temuco"
                  },
                  {
                    "option": "Región de Los Ríos (XIV) – Capital: Valdivia"
                  },
                  {
                    "option": "Región de Los Lagos (X) – Capital: Puerto Montt"
                  },
                  {
                    "option": "Región de Aysén del General Carlos Ibáñez del Campo (XI) – Capital: Coyhaique"
                  },
                  {
                    "option": "Región de Magallanes y de la Antártica Chilena (XII) – Capital: Punta Arenas"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -528,
        240
      ],
      "id": "0d600c99-0227-4370-af5e-acebbc165e49",
      "name": "On form submission",
      "webhookId": "5b479d04-2cb6-4a20-8810-306f0b8b7088",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// === VALIDACIÓN Y NORMALIZACIÓN DE DATOS ===\nconst data = items[0].json;\n\n// 🧹 Normaliza y limpia los nombres de campos del formulario\nconst nuevo = {\n  Nombre: data[\"Nombre\"] || data[\"Nombre:\"] || data[\"nombre\"] || \"\",\n  Apellido: data[\"Apellido\"] || data[\"Apellido:\"] || data[\"apellido\"] || \"\",\n  Email: data[\"Email\"] || data[\"Email:\"] || data[\"email\"] || \"\",\n  Frecuencia: data[\"Frecuencia\"] || data[\"Elije la frecuencia con la cual deseas recibir ofertas:\"] || \"\",\n  Modalidad: data[\"Modalidad\"] || data[\"Modalidad:\"] || data[\"modalidad\"] || \"\",\n  Region: data[\"Región\"] || data[\"Region\"] || data[\"Elije la Región en la cual te gustaría centrar tu busqueda:\"] || \"\"\n};\n\n// ⚠️ Validar campos vacíos\nconst camposFaltantes = Object.entries(nuevo)\n  .filter(([_, valor]) => !valor || valor.trim() === \"\")\n  .map(([clave]) => clave);\n\n// 📧 Validar formato de correo electrónico\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nconst emailValido = emailRegex.test(nuevo.Email);\n\n// 🚨 Si falta un campo o el correo es inválido → detener flujo\nif (camposFaltantes.length > 0 || !emailValido) {\n  return [\n    {\n      json: {\n        estado: \"ERROR\",\n        mensaje: \"Faltan datos o el correo no es válido.\",\n        faltantes: camposFaltantes,\n        email: nuevo.Email\n      }\n    }\n  ];\n}\n\n// ✅ Si todo está bien, devolver datos normalizados\nreturn [\n  {\n    json: {\n      ...nuevo,\n      estado: \"ACTIVA\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        240
      ],
      "id": "f06b2e1b-6bd9-451c-826d-a376685bb08a",
      "name": "Validar datos"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\nconst now = new Date();\n\nswitch (data.Frecuencia) {\n  case \"30 min.\":\n    now.setMinutes(now.getMinutes() + 30);\n    break;\n  case \"24 hrs\":\n  case \"24 hrs.\":\n    now.setDate(now.getDate() + 1);\n    break;\n  case \"Cada semana\":\n    now.setDate(now.getDate() + 7);\n    break;\n}\n\ndata.next_run = now.toISOString().slice(0, 19).replace(\"T\", \" \");\ndata.estado = \"ACTIVA\";\n\nreturn [{ json: data }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        256
      ],
      "id": "600a1d14-8af5-48fa-a46f-7efb69e7e36f",
      "name": "next_run"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2a7bb9ee-b99d-40d9-ac05-d05048a35194",
              "leftValue": "={{ $json.estado }}",
              "rightValue": "ERROR",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        240
      ],
      "id": "f2818267-37ab-4a58-8874-f53d1a776fab",
      "name": "Revisar Estado"
    },
    {
      "parameters": {
        "fromEmail": "buscador.practicasinformatica@gmail.com",
        "toEmail": "={{ $('On form submission').item.json['Email:'] }}",
        "subject": "Error en el registro",
        "html": "=<p>Hola 👋</p>\n<p><strong>Faltan datos en tu registro.</strong></p>\n<p>Por favor, completa todos los campos obligatorios y revisa que tu correo esté correctamente escrito.</p>\n\n<p>Campos incompletos detectados:</p>\n<ul>\n  {{ $('Validar datos').item.json.faltantes }}\n</ul>\n\n\n<hr>\n<p style=\"font-size: 12px; color: #888;\">\nSistema Automatizado – Proyecto de Práctica Informática<br>\nUniversidad Andrés Bello · n8n\n</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "b078678f-3c0d-4305-a426-a73facd7a839",
      "name": "Error email",
      "webhookId": "bb608e3e-309e-442d-a2c7-151be37fd40d",
      "credentials": {
        "smtp": {
          "id": "R1OMA1x02aeTX4vo",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "buscador.practicasinformatica@gmail.com",
        "toEmail": "={{ $('On form submission').item.json['Email:'] }}\n",
        "subject": "Confirmación de registro",
        "html": "=<p>👋 Hola <strong>{{ $('On form submission').item.json['Nombre:'] }} {{ $('On form submission').item.json['Apellido:'] }}</strong>\n,</p>\n\n<p>Tu registro en el sistema automatizado de búsqueda de prácticas profesionales en informática fue <strong>exitoso</strong>.</p>\n\n<p>📩 Has indicado el siguiente correo: <em>{{ $('On form submission').item.json['Email:'] }}</em></p>\n\n<p>⚙️ <strong>Preferencias registradas:</strong></p>\n<ul>\n  <li>⏱️ Frecuencia de reportes: <em>{{ $('On form submission').item.json['Elije la frecuencia con la cual deseas recibir ofertas:'] }}</em></li>\n  <li>💻 Modalidad preferida: <em>{{ $('On form submission').item.json['Modalidad:'] }}</em></li>\n  <li>🌍 Región de interés: <em>{{ $('On form submission').item.json['Elije la Región en la cual te gustaría centrar tu busqueda:'] }}</em></li>\n</ul>\n\n<p>Gracias por registrarte 🎉</p>\n\n<p>\nA partir de ahora recibirás las oportunidades de práctica seleccionadas automáticamente según tus preferencias.<br>\nSi deseas modificar tus datos o cancelar tu suscripción, puedes hacerlo en cualquier momento respondiendo a este correo.\n</p>\n\n<hr>\n<p style=\"font-size: 12px; color: #888;\">\nSistema Automatizado – Proyecto de Práctica Informática<br>\nUniversidad Andrés Bello · n8n\n</p>\n {{ $('On form submission').item.json['Nombre:'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1056,
        320
      ],
      "id": "16990399-db67-46e2-a159-1f718d3d9b9a",
      "name": "Email registro exitoso",
      "webhookId": "0fc67036-4214-4c8e-9214-24f0a46d3728",
      "credentials": {
        "smtp": {
          "id": "R1OMA1x02aeTX4vo",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "buscador.practicasinformatica@gmail.com",
        "toEmail": "={{ $('On form submission').item.json['Email:'] }}",
        "subject": "¡Ya estas registrado!",
        "html": "=<p>👋 Hola {{ $('Validar datos').item.json.Nombre }},</p>\n\n<p>Ya estás registrado en el sistema de búsqueda de prácticas.  \nTus preferencias fueron actualizadas correctamente ✅</p>\n\n<ul>\n  <li>📩 Email: <em> {{ $('Validar datos').item.json.Email }}</em></li>\n  <li>⏱ Frecuencia: <em>{{ $('Validar datos').item.json.Frecuencia }}</em></li>\n  <li>💻 Modalidad: <em>{{ $('Validar datos').item.json.Modalidad }}</em></li>\n  <li>🌍 Región: <em>{{ $('Validar datos').item.json.Region }}</em></li>\n</ul>\n\n<hr>\n<p style=\"font-size: 12px; color: #888;\">Sistema Automatizado – Proyecto de Práctica Informática</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1056,
        128
      ],
      "id": "80650d4c-373a-46eb-8573-dc6387c5dac5",
      "name": "Email ya registrado",
      "webhookId": "1f11458c-f8ff-438c-bd8f-3b3f3dcd37c1",
      "credentials": {
        "smtp": {
          "id": "R1OMA1x02aeTX4vo",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cdb74758-b031-42bc-9457-3084c7822e10",
              "leftValue": "={{$json.row_number > 0 }}",
              "rightValue": "=true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        464,
        240
      ],
      "id": "beb863c3-122a-4bc5-9013-9624b7af73e9",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Registro de Inscritos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "= {{ $('On form submission').item.json['Nombre:'] }}",
            "Frecuencia": "={{ $('On form submission').item.json['Elije la frecuencia con la cual deseas recibir ofertas:'] }}",
            "estado": "={{ $('Revisar Estado').item.json.estado }}",
            "next_run": "={{ $('next_run').item.json.next_run }}\n",
            "Apellido": "={{ $('On form submission').item.json['Apellido:'] }}",
            "Email": "={{ $('On form submission').item.json['Email:'] }}",
            "Modalidad": "={{ $('On form submission').item.json['Modalidad:'] }}",
            "Región": "={{ $('On form submission').item.json['Elije la Región en la cual te gustaría centrar tu busqueda:'] }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apellido",
              "displayName": "Apellido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Frecuencia",
              "displayName": "Frecuencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Modalidad",
              "displayName": "Modalidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Región",
              "displayName": "Región",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_run",
              "displayName": "next_run",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        128
      ],
      "id": "94b38343-910c-4d36-84f3-4b9b2271cc01",
      "name": "Update row in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "z1XwVw9qRPrCNqVB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Registro de Inscritos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "= {{ $('On form submission').item.json['Nombre:'] }}",
            "Frecuencia": "={{ $('On form submission').item.json['Elije la frecuencia con la cual deseas recibir ofertas:'] }}",
            "estado": "={{ $('Revisar Estado').item.json.estado }}",
            "next_run": "= {{ $('next_run').item.json.next_run }}",
            "Apellido": "={{ $('On form submission').item.json['Apellido:'] }}",
            "Email": "={{ $('On form submission').item.json['Email:'] }}",
            "Modalidad": "={{ $('On form submission').item.json['Modalidad:'] }}",
            "Región": "={{ $('On form submission').item.json['Elije la Región en la cual te gustaría centrar tu busqueda:'] }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apellido",
              "displayName": "Apellido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Frecuencia",
              "displayName": "Frecuencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Modalidad",
              "displayName": "Modalidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Región",
              "displayName": "Región",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_run",
              "displayName": "next_run",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        320
      ],
      "id": "bbd05805-6167-4885-9f3f-1c1c4112122e",
      "name": "Append row in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "z1XwVw9qRPrCNqVB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Registro de Inscritos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.Email.trim() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        240
      ],
      "id": "e8418e31-2511-422a-a210-f696ede74e27",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "z1XwVw9qRPrCNqVB",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Validar datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar datos": {
      "main": [
        [
          {
            "node": "Revisar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "next_run": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revisar Estado": {
      "main": [
        [
          {
            "node": "Error email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "next_run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Email ya registrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Email registro exitoso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "be18b7dc-325e-4c94-98ab-0cc177b8476a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9763efdd3422bc3e20d11e17904c1ed5ca787a59ab663c85047a13456c18dc45"
  },
  "id": "k5R8kkC0y0vHCDC8",
  "tags": []
}