flujos/Backend Admin Panel (Final) (1).json
{
  "name": "Backend Admin Panel (Final)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin-api",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "name": "Webhook Admin",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -112,
        1728
      ],
      "id": "568401f8-6ff3-448a-9ccb-49c98fb55409",
      "webhookId": "34595f02-3abf-4b14-bee9-a9a658c9aa1f",
      "disabled": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.action }}",
        "rules": {
          "rules": [
            {
              "value2": "get_users"
            },
            {
              "value2": "get_logs",
              "output": 1
            },
            {
              "value2": "update_status",
              "output": 2
            }
          ]
        }
      },
      "name": "Router Admin",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        112,
        1728
      ],
      "id": "9d0abefc-9e54-4416-bd0d-1534bbe6919d"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c",
          "mode": "list",
          "cachedResultName": "BD_Practicas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Registro de Inscritos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit#gid=0"
        },
        "options": {}
      },
      "name": "Leer Usuarios",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        368,
        1568
      ],
      "id": "c750c75a-25da-4cc2-8227-9de2b6c1b424",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aB54XzO7nk5Ur6oj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c",
          "mode": "list",
          "cachedResultName": "BD_Practicas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1017127336,
          "mode": "list",
          "cachedResultName": "BitacoraErrores",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit#gid=1017127336"
        },
        "options": {}
      },
      "name": "Leer Logs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        368,
        1760
      ],
      "id": "e6f8f6ae-389a-4446-b860-53d1eedeec1b",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aB54XzO7nk5Ur6oj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c",
          "mode": "list",
          "cachedResultName": "BD_Practicas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Registro de Inscritos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Email": "{{ $('Webhook Admin').item.json.body.email }}",
            "estado": "{{ $json.body.nuevo_estado }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apellido",
              "displayName": "Apellido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Frecuencia",
              "displayName": "Frecuencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Modalidad",
              "displayName": "Modalidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Regi贸n",
              "displayName": "Regi贸n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_run",
              "displayName": "next_run",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_update",
              "displayName": "last_update",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Actualizar Estado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        368,
        1936
      ],
      "id": "abd40b14-282a-4b87-a8e0-629358d313fe",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aB54XzO7nk5Ur6oj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.all().map(i => i.json)) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "name": "Responder JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        640,
        1648
      ],
      "id": "72e133f0-c24a-4cc3-b6e4-5a1d8f84043b"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"status\": \"ok\", \"msg\": \"Actualizado\" }",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        640,
        1936
      ],
      "id": "e36ad418-c05d-40c5-a7d8-81c5a052dcef"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c",
          "mode": "list",
          "cachedResultName": "BD_Practicas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Registro de Inscritos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit#gid=0"
        },
        "options": {}
      },
      "name": "Buscar Usuario Para Actualizar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        256,
        1328
      ],
      "id": "4d851384-6371-44dc-8de4-9188e535cc8f",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aB54XzO7nk5Ur6oj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Email }}",
              "value2": "={{ $('Webhook Admin1').item.json.body.email }}"
            }
          ]
        }
      },
      "name": "Filtrar Usuario",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        480,
        1328
      ],
      "id": "699fccef-4f80-4383-952c-c25ca7fb46e3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin-api",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "name": "Webhook Admin1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -224,
        1120
      ],
      "id": "e235df34-a3e4-4e59-8ded-f8f7cb58479d",
      "webhookId": "34595f02-3abf-4b14-bee9-a9a658c9aa1f"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.action }}",
        "rules": {
          "rules": [
            {
              "value2": "get_users"
            },
            {
              "value2": "get_logs",
              "output": 1
            },
            {
              "value2": "update_status",
              "output": 2
            }
          ]
        }
      },
      "name": "Router Admin1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        0,
        1120
      ],
      "id": "550449c4-0cf0-4f4a-9e0d-763e14ce8e32"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c",
          "mode": "list",
          "cachedResultName": "BD_Practicas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Registro de Inscritos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit#gid=0"
        },
        "options": {}
      },
      "name": "Leer Usuarios1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        256,
        960
      ],
      "id": "a413396a-dcb9-4fb3-b510-d55af4e0d5ba",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aB54XzO7nk5Ur6oj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c",
          "mode": "list",
          "cachedResultName": "BD_Practicas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1017127336,
          "mode": "list",
          "cachedResultName": "BitacoraErrores",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit#gid=1017127336"
        },
        "options": {}
      },
      "name": "Leer Logs1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        256,
        1152
      ],
      "id": "2d793eda-f585-4da6-b977-40b2c7309fbb",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aB54XzO7nk5Ur6oj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c",
          "mode": "list",
          "cachedResultName": "BD_Practicas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Registro de Inscritos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "estado": "={{ $('Webhook Admin1').item.json.body.nuevo_estado }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apellido",
              "displayName": "Apellido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Frecuencia",
              "displayName": "Frecuencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Modalidad",
              "displayName": "Modalidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Regi贸n",
              "displayName": "Regi贸n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_run",
              "displayName": "next_run",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_update",
              "displayName": "last_update",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Actualizar Estado1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        704,
        1328
      ],
      "id": "13f92a09-e256-4d6b-a6cd-03eb1ce948bc",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aB54XzO7nk5Ur6oj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.all().map(i => i.json)) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "name": "Responder JSON1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        528,
        1040
      ],
      "id": "b1dd98fd-e075-4652-971b-a67dfd56e69f"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"status\": \"ok\", \"msg\": \"Actualizado\" }",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "name": "Responder OK1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        928,
        1328
      ],
      "id": "85629a53-e4e5-4d81-8b3f-05671b33aa4d"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Admin": {
      "main": [
        [
          {
            "node": "Router Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Admin": {
      "main": [
        [
          {
            "node": "Leer Usuarios",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Leer Logs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Actualizar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Usuarios": {
      "main": [
        [
          {
            "node": "Responder JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Logs": {
      "main": [
        [
          {
            "node": "Responder JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Estado": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Usuario Para Actualizar": {
      "main": [
        [
          {
            "node": "Filtrar Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Usuario": {
      "main": [
        [
          {
            "node": "Actualizar Estado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Admin1": {
      "main": [
        [
          {
            "node": "Router Admin1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Admin1": {
      "main": [
        [
          {
            "node": "Leer Usuarios1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Leer Logs1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Usuario Para Actualizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Usuarios1": {
      "main": [
        [
          {
            "node": "Responder JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Logs1": {
      "main": [
        [
          {
            "node": "Responder JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Estado1": {
      "main": [
        [
          {
            "node": "Responder OK1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a964f644-bc63-4246-8160-58b24d036d02",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae9ab793f09030fcf5f823ea37df64baacdc27883c24dadb80017ad358f6f0ce"
  },
  "id": "X0lmiL9mh4tyGqPe",
  "tags": []
}