flujos/HU2 - Panel - Update.json
{
  "name": "HU2 - Panel - Update",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "panel/usuario/update",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -528,
        1216
      ],
      "id": "7b7b5739-9b4b-422d-932a-c799fa069bcd",
      "name": "Webhook Update",
      "webhookId": "f248695e-fc36-4402-b95f-52f5289e9b6d"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c",
          "mode": "list",
          "cachedResultName": "BD_Practicas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Registro de Inscritos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.body.Email }}",
            "Frecuencia": "={{ $json.body.Frecuencia }}",
            "Modalidad": "={{ $json.body.Modalidad }}",
            "Región": "={{ $json.body.Region }}",
            "row_number": 0
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Apellido",
              "displayName": "Apellido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Frecuencia",
              "displayName": "Frecuencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Modalidad",
              "displayName": "Modalidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Región",
              "displayName": "Región",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "next_run",
              "displayName": "next_run",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_update",
              "displayName": "last_update",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -304,
        1216
      ],
      "id": "e6a22073-56e7-49c3-b3af-3c8ffa8dbfee",
      "name": "Actualizar Preferencias",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aB54XzO7nk5Ur6oj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ok\",\n  \"msg\": \"Tus preferencias se han actualizado correctamente. ✅\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -96,
        1216
      ],
      "id": "db721826-6406-450b-8782-d4ad302063f5",
      "name": "Responder al Panel"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Update": {
      "main": [
        [
          {
            "node": "Actualizar Preferencias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Preferencias": {
      "main": [
        [
          {
            "node": "Responder al Panel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "93351313-8837-45cd-a92e-a6f058c0c5c7",
  "meta": {
    "instanceId": "ae9ab793f09030fcf5f823ea37df64baacdc27883c24dadb80017ad358f6f0ce"
  },
  "id": "2N9DJJypWmcvQ3X1",
  "tags": []
}