flujos/Reporte_inmediato (1).json
{
  "name": "Reporte_inmediato",
  "nodes": [
    {
      "parameters": {
        "fromEmail": "buscador.practicasinformatica@gmail.com",
        "toEmail": "={{ $json.email_destino }}",
        "subject": "No se encontraron ofertas de práctica",
        "html": "=  <p>👋 Hola {{ $('Obtener Preferencias(HU4)').item.json.Nombre }},</p>\n\n<p>No se encontraron ofertas de práctica que coincidan con tus preferencias en esta ejecución.</p>\n\n<p>Esto puede deberse a que:</p>\n<ul>\n  <li>No hubo publicaciones nuevas en las plataformas consultadas.</li>\n  <li>No existieron ofertas que coincidieran con tu región o modalidad seleccionada.</li>\n  <li>Las fuentes revisadas (Indeed, Laborum, otras) no devolvieron resultados válidos.</li>\n</ul>\n\n<p>El sistema seguirá buscando automáticamente según tu frecuencia configurada.</p>\n\n<hr>\n<p style=\"font-size:12px;color:#888;\">\n  Sistema automatizado – Buscador de Prácticas de Informática<br>\n  No respondas a este correo.\n</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1376,
        624
      ],
      "id": "66798832-231f-40b6-a2f3-30898ee612ca",
      "name": "Send email3",
      "webhookId": "7a8d1d54-0ce0-42b2-a5b8-9e16c9b1a570",
      "credentials": {
        "smtp": {
          "id": "7Nn3WCA5ZSx3GgJW",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bf79c74d-9b01-4476-81be-de9447c4500b",
              "leftValue": "={{ $json.no_results_historial }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1680,
        752
      ],
      "id": "b9403ed8-0a0d-40eb-ae4b-5d3519b90696",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1496762465,
          "mode": "list",
          "cachedResultName": "HistorialOfertas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit#gid=1496762465"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp_reporte": "={{ $now.toFormat(\"yyyy-LL-dd HH:mm:ss\") }}",
            "modalidad": "={{ $json.modalidad }}",
            "ubicacion": "={{ $json.region }}",
            "link": "={{ $json.link }}",
            "fuente ": "={{ $json.fuente }}",
            "titulo": "={{ $json.titulo }}",
            "empresa": "={{ $json.empresa }}",
            "Clave_unica": "={{ $json.titulo }} + {{ $json.empresa }}",
            "email": "={{ $('Sanitizar1').first().json.Email }}"
          },
          "matchingColumns": [
            "timestamp_reporte"
          ],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp_reporte",
              "displayName": "timestamp_reporte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fuente ",
              "displayName": "fuente ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "empresa",
              "displayName": "empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ubicacion",
              "displayName": "ubicacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "modalidad",
              "displayName": "modalidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clave_unica",
              "displayName": "Clave_unica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1536,
        944
      ],
      "id": "67ef26f7-e557-453f-a524-9518f5045b1b",
      "name": "HU3 - Historial Ofertas2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aB54XzO7nk5Ur6oj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === HU3 - PREPARAR HISTORIAL (Versión Robustecida HU4) ===\n\n// 1. Helpers\nfunction pad(n) { return String(n).padStart(2, '0'); }\n\nfunction formatTs(d) {\n  return (\n    d.getFullYear() + '-' + pad(d.getMonth() + 1) + '-' + pad(d.getDate()) + ' ' +\n    pad(d.getHours()) + ':' + pad(d.getMinutes()) + ':' + pad(d.getSeconds())\n  );\n}\n\n// Función 'pick' mejorada: devuelve el primer valor que no sea nulo ni vacío\nfunction pick(...xs) {\n  for (const x of xs) {\n    if (x !== undefined && x !== null && String(x).trim() !== \"\") return x;\n  }\n  return \"\";\n}\n\nconst ahora = new Date();\nconst timestamp_reporte = formatTs(ahora);\n\n// 2. Obtener Email del Usuario (Desde HU4 - Sanitizar1)\nlet emailUsuario = 'desconocido@ejemplo.cl';\ntry {\n  // Intentamos leer el email que pasó por el sanitizador\n  const u = $('Sanitizar1').first().json || {};\n  emailUsuario = u.Email || u.email || emailUsuario;\n} catch (e) {\n  console.log(\"No se pudo leer email de Sanitizar1, usando default.\");\n}\n\n// 3. Procesar Items\nconst out = [];\n\nfor (const item of $input.all()) {\n  const raw = item.json || {};\n  \n  // Normalización de datos anidados (por si acaso)\n  // Si raw tiene 'titulo' usamos raw, si no, intentamos raw.data\n  const d = (raw.titulo || raw.link || raw.fuente || raw['fuente ']) ? raw : (raw.data || raw);\n\n  // --- EXTRACCIÓN ROBUSTA ---\n  // Aquí usamos la misma lógica del Email Builder para no fallar\n  \n  const titulo = pick(d.titulo, d.Titulo, d.title, d.Title, d.nombre);\n  const link   = pick(d.link, d.Link, d.url, d.href);\n  \n  // ❌ Si no hay título o link → NO se guarda\n  if (!titulo || !link) continue;\n\n  const empresa   = pick(d.empresa, d.Empresa, d.company, \"Sin empresa\");\n  const ubicacion = pick(d.region, d.Region, d.ubicacion, d.location, \"Sin región\");\n  \n  // Fuente: Aquí corregimos el error del espacio y las mayúsculas\n  const fuente = pick(d['fuente '], d.fuente, d.Fuente, d.source, \"Fuente Desconocida\");\n\n  // Modalidad: Normalizamos a minúsculas\n  let modalidad = pick(d.modalidad, d.Modalidad, \"No especificada\");\n  if (modalidad) modalidad = String(modalidad).toLowerCase();\n\n  const fecha_oferta = d.fecha_oferta || timestamp_reporte;\n\n  // Clave única para evitar duplicados futuros en otras lógicas\n  const clave_unica = `${titulo}|${empresa}|${link}|${fuente}`;\n\n  out.push({\n    json: {\n      timestamp_reporte,\n      email_destino: emailUsuario, // Para que el Sheet sepa de quién es\n      titulo,\n      empresa,\n      ubicacion, // Esto irá a la columna 'region' o 'ubicacion' del sheet\n      region: ubicacion, // Enviamos ambos por seguridad\n      modalidad,\n      fecha_oferta,\n      link,\n      fuente, // Ahora sí llevará \"Computrabajo\" o \"Laborum\" correctamente\n      clave_unica,\n      no_results_historial: false,\n    },\n  });\n}\n\n// 4. Manejo de \"Sin Resultados\"\n// Si no salió nada válido, enviamos un flag para que el IF siguiente decida qué hacer\nif (out.length === 0) {\n  return [{\n    json: {\n      no_results_historial: true,\n      email_destino: emailUsuario,\n      timestamp_reporte\n    }\n  }];\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1968,
        816
      ],
      "id": "3aa1482a-0eec-4470-9ff0-6c7cf9a470e2",
      "name": "HU3 - PrepararHistorial"
    },
    {
      "parameters": {
        "jsCode": "// Nodo: \"Sanitizar1\" (CORREGIDO PARA WEBHOOK)\n// Extrae los datos del body del Webhook y valida el email.\n\nconst requiredFields = ['$json.email']; \n\n// Listas de valores permitidos (puedes ajustar según necesites)\nconst allowedFrecuencia = ['inmediato', 'diario', 'semanal', 'mensual'];\nconst allowedModalidad  = ['remoto', 'presencial', 'hibrido', 'híbrido'];\nconst allowedUbicacion  = [\n  'valparaiso', 'viña del mar', 'santiago', 'region metropolitana', \n  'region de valparaiso', 'region del biobio'\n];\n\nfunction normStr(v) {\n  if (v === undefined || v === null) return '';\n  return String(v).trim();\n}\n\nfunction isValidEmail(email) {\n  return /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n}\n\nreturn items.map(item => {\n  let src = item.json || {};\n\n  // --- CORRECCIÓN CLAVE: Extraer datos del body ---\n  if (src.body) {\n    src = { ...src, ...src.body };\n  }\n  // ------------------------------------------------\n\n  const data = {};\n  const errores = [];\n\n  // Copiar datos planos\n  for (const [k, v] of Object.entries(src)) {\n    if (typeof v === 'string' || typeof v === 'number' || v === null) {\n        data[k] = typeof v === 'string' ? normStr(v) : v;\n    }\n  }\n\n  // Validación de Email (busca 'Email' o 'email')\n  let emailFound = \"\";\n  for (const [k, v] of Object.entries(data)) {\n    if (k.toLowerCase() === 'email') {\n      emailFound = normStr(v).toLowerCase();\n      // Unificar bajo la clave \"Email\" (con mayúscula inicial para tus otros nodos)\n      data['Email'] = emailFound; \n      // También guardamos 'email' minuscula por compatibilidad\n      data['email'] = emailFound;\n    }\n  }\n\n  if (!emailFound || !isValidEmail(emailFound)) {\n      errores.push(\"Falta email válido\");\n  }\n\n  data._ok = errores.length === 0;\n  return { json: data };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2592,
        240
      ],
      "id": "0ee75fb2-f5ef-43a1-b597-eb829237e80c",
      "name": "Sanitizar1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Registro de Inscritos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Sanitizar1').first().json.Email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -912,
        128
      ],
      "id": "3a724649-36cc-48c5-8620-d2f7ef5bd44a",
      "name": "Obtener next_run",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aB54XzO7nk5Ur6oj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "buscador.practicasinformatica@gmail.com",
        "toEmail": "={{ $('Sanitizar1').first().json.Email }}",
        "subject": "Error en el registro",
        "html": "=<p>Hola 👋</p>\n\n<p><strong>Has alcanzado tu límite mensual de reportes inmediatos.</strong></p>\n\n<p>\nHemos recibido tu solicitud, pero actualmente ya utilizaste todos los reportes inmediatos disponibles para este mes.\n</p>\n\n<p>\n<strong>Los cupos se renuevan automáticamente al inicio del próximo mes.</strong>\n</p>\n\n<p>\nNo es necesario que realices ninguna acción. El sistema habilitará nuevos reportes de forma automática cuando se reinicie el período mensual.\n</p>\n\n<p>\nMientras tanto, seguirás recibiendo tus reportes programados según la frecuencia que tengas configurada.\n</p>\n\n<p>\nSi necesitas modificar tus preferencias o tienes alguna duda, puedes responder este correo y te ayudaremos.\n</p>\n\n<hr>\n<p style=\"font-size: 12px; color: #888;\">\nSistema Automatizado – Proyecto de Práctica Informática<br>\nUniversidad Andrés Bello · n8n\n</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -496,
        -80
      ],
      "id": "880901cd-481d-4eeb-825e-77047e5315ba",
      "name": "limite",
      "webhookId": "bb608e3e-309e-442d-a2c7-151be37fd40d",
      "credentials": {
        "smtp": {
          "id": "7Nn3WCA5ZSx3GgJW",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "buscador.practicasinformatica@gmail.com",
        "toEmail": "={{ $('HU4 - Form Trigger').item.json.Email }}",
        "subject": "Error en el registro",
        "html": "=<p>Hola 👋</p>\n<p><strong>No encontramos una suscripción asociada a tu correo.</strong></p>\n\n<p>\nHemos recibido tu solicitud de reporte inmediato, pero en el sistema no aparece ningún registro activo con el correo:\n</p>\n\n<p style=\"font-size: 16px; font-weight: bold; margin: 8px 0;\">\n  {{ $('HU4 - Form Trigger').item.json.Email }}\n</p>\n\n<p>\nEsto puede deberse a que:\n</p>\n<ul>\n  <li>Aún no te has suscrito al servicio de reportes automáticos.</li>\n  <li>Ingresaste el correo con algún error de escritura.</li>\n</ul>\n\n<p>\nPor favor, verifica que tu correo esté correctamente escrito o completa primero el formulario de suscripción antes de solicitar un reporte inmediato.\n</p>\n\n<p>\nSi crees que se trata de un error, puedes responder a este correo indicando el correo correcto o contactarte con el equipo a través de los canales habituales.\n</p>\n\n<hr>\n<p style=\"font-size: 12px; color: #888;\">\nSistema Automatizado – Proyecto de Práctica Informática<br>\nUniversidad Andrés Bello · n8n\n</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1936,
        432
      ],
      "id": "85d710fb-235c-4f22-b5b4-adbe8e078374",
      "name": "No existe email HU4",
      "webhookId": "bb608e3e-309e-442d-a2c7-151be37fd40d",
      "credentials": {
        "smtp": {
          "id": "7Nn3WCA5ZSx3GgJW",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "lookup",
        "sheetId": "1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c",
        "range": "Registro de Inscritos!A:Z",
        "lookupColumn": "Email",
        "lookupValue": "={{ $json.Email }}",
        "options": {
          "returnAllMatches": true
        }
      },
      "id": "963563d9-0a22-4a46-863f-6d73c1c420be",
      "name": "Buscar_Usuario_en_Sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        -2336,
        240
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aB54XzO7nk5Ur6oj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Email }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "1444e249-91f7-4d98-8f42-1ec07e39916f",
      "name": "Existe_Usuario?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2144,
        240
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 51153146,
          "mode": "list",
          "cachedResultName": "CantReporte",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit#gid=51153146"
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $now.toFormat(\"yyyy-LL-dd HH:mm:ss\") }}\n"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Sanitizar1').first().json.Email }}"
            },
            {
              "fieldId": "tipo",
              "fieldValue": "=Programado"
            }
          ]
        },
        "options": {}
      },
      "id": "1d48698e-f73f-437f-81e0-6ec941b33d14",
      "name": "HU7 - Registrar Consulta2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -1984,
        1040
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aB54XzO7nk5Ur6oj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "buscador.practicasinformatica@gmail.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1184,
        944
      ],
      "id": "9091782b-c495-4720-b08c-9b974c96503b",
      "name": "Send email",
      "webhookId": "c8d3c268-f510-472c-b4de-4f38ab0157db",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "7Nn3WCA5ZSx3GgJW",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === APLANADOR UNIVERSAL + EMAIL BUILDER PRO (Versión HU4 - Reporte Inmediato) ===\n\n// -----------------------------------------\n// Helpers\n// -----------------------------------------\nfunction esc(s) {\n  return String(s ?? \"\").replace(/[&<>\"']/g, m => ({\n    \"&\": \"&amp;\",\n    \"<\": \"&lt;\",\n    \">\": \"&gt;\",\n    \"\\\"\": \"&quot;\",\n    \"'\": \"&#39;\"\n  }[m]));\n}\n\n// Función 'pick' mejorada: devuelve el primer valor válido\nfunction pick(...xs) {\n  for (const x of xs) {\n    if (x !== undefined && x !== null && String(x).trim() !== \"\") return x;\n  }\n  return \"\";\n}\n\n// -----------------------------------------\n// 1) Tomar preferencias REALES del usuario actual\n//    (Adaptado para HU4 usando tus nodos específicos)\n// -----------------------------------------\nlet prefRegion = \"No especificada\";\nlet prefModalidad = \"No especificada\";\nlet emailTo = \"\";\nlet nombreUsuario = \"Postulante\";\n\ntry {\n  // Preferencias vienen de \"Obtener Preferencias(HU4)\"\n  // Nota: Usamos first() porque en HU4 procesamos de a un usuario a la vez\n  const prefs = $('Obtener Preferencias(HU4)').first().json || {};\n  prefRegion = prefs['Región'] || prefs.region || \"No especificada\";\n  prefModalidad = prefs.Modalidad || prefs.modalidad || \"No especificada\";\n  nombreUsuario = prefs.Nombre || prefs.nombre || \"Postulante\";\n\n  // El email validado viene de \"Sanitizar1\"\n  const datosInput = $('Sanitizar1').first().json || {};\n  emailTo = datosInput.Email || datosInput.email || \"\";\n} catch (e) {\n  // Si falla la lectura de nodos anteriores, no rompemos el flujo\n  console.log(\"Error leyendo preferencias:\", e);\n}\n\n// -----------------------------------------\n// 2) Aplanar y Normalizar Resultados\n// -----------------------------------------\nconst filas = items.map(item => {\n  const raw = item.json || {};\n  \n  // A veces los datos vienen en raw.data (común en HTTP requests)\n  // Verificamos si existe alguna clave clave en 'raw'\n  const d = (raw.titulo || raw.link || raw.Fuente || raw['fuente '] || raw.fuente) ? raw : (raw.data || raw);\n\n  return {\n    // Buscamos todas las variantes posibles de fuente\n    fuente: pick(d['fuente '], d.fuente, d.Fuente, d.source, d.Source, \"Fuente Desconocida\"),\n    \n    titulo: pick(d.titulo, d.Titulo, d.title, d.Title, d.nombre),\n    empresa: pick(d.empresa, d.Empresa, d.company, \"Sin empresa\"),\n    region: pick(d.region, d.Region, d.ubicacion, \"Sin región\"),\n    modalidad: pick(d.modalidad, d.Modalidad, \"Presencial\"),\n    link: pick(d.link, d.Link, d.url, d.href),\n    \n    aviso: d.aviso || \"\"\n  };\n}).filter(r => r.titulo || r.link); // Filtramos filas vacías\n\n// Detectar aviso general (ej: \"No hay remotas, mostrando presenciales\")\nconst avisoGeneral = filas.find(r => r.aviso)?.aviso || \"\";\n\nconst total = filas.length;\n\n// -----------------------------------------\n// 3) Métricas por fuente\n// -----------------------------------------\nconst porFuente = {};\nfor (const r of filas) {\n  const f = r.fuente.trim(); \n  porFuente[f] = (porFuente[f] || 0) + 1;\n}\n\nconst stats = Object.entries(porFuente)\n  .map(([k, v]) => `<li><b>${esc(k)}</b>: ${v}</li>`)\n  .join(\"\");\n\n// -----------------------------------------\n// 4) Tabla HTML\n// -----------------------------------------\nconst rowsHtml = filas\n  .map((r, i) => `\n    <tr>\n      <td style=\"text-align:center;color:#555;font-size:12px;\">${i + 1}</td>\n      <td style=\"font-weight:600;color:#111;\">${esc(r.titulo)}</td>\n      <td style=\"color:#444;\">${esc(r.empresa)}</td>\n      <td style=\"color:#666;font-size:13px;\">\n        <span style=\"background:#f3f4f6;padding:2px 6px;border-radius:4px;border:1px solid #e5e7eb;\">\n          ${esc(r.fuente)}\n        </span>\n      </td>\n      <td style=\"text-align:center;\">\n        ${r.link ? `<a href=\"${esc(r.link)}\" target=\"_blank\" style=\"background:#2563eb;color:white;text-decoration:none;padding:6px 12px;border-radius:4px;font-size:13px;display:inline-block;\">Ver</a>` : \"\"}\n      </td>\n    </tr>`\n  ).join(\"\");\n\n// -----------------------------------------\n// 5) Construcción del HTML final\n// -----------------------------------------\nconst avisoHtml = avisoGeneral\n  ? `<div style=\"margin-bottom:15px;padding:12px;background:#fffbeb;border-left:4px solid #f59e0b;color:#92400e;font-size:14px;border-radius:4px;\">\n       ${esc(avisoGeneral)}\n     </div>`\n  : \"\";\n\nconst html = `\n<div style=\"font-family:'Segoe UI', Helvetica, Arial, sans-serif;max-width:800px;margin:auto;background:#ffffff;border:1px solid #e5e7eb;border-radius:8px;overflow:hidden;\">\n  \n  <div style=\"background:#2563eb;color:white;padding:20px 24px;\">\n    <h2 style=\"margin:0;font-size:20px;font-weight:600;\">Reporte Inmediato ⚡</h2>\n    <p style=\"margin:4px 0 0;opacity:0.9;font-size:14px;\">Hola ${esc(nombreUsuario)}, aquí tienes el reporte que solicitaste. Encontramos <b>${total}</b> ofertas.</p>\n  </div>\n\n  <div style=\"padding:24px;\">\n    \n    <div style=\"background:#f8fafc;padding:12px 16px;border-radius:6px;border:1px solid #e2e8f0;margin-bottom:20px;font-size:13px;color:#475569;\">\n      <strong>Tu perfil:</strong> ${esc(prefRegion)} • ${esc(prefModalidad)}\n    </div>\n\n    ${avisoHtml}\n\n    ${stats ? `<ul style=\"margin:0 0 15px 0;padding-left:20px;color:#64748b;font-size:13px;\">${stats}</ul>` : \"\"}\n\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;min-width:100%;\">\n      <thead>\n        <tr style=\"border-bottom:2px solid #e2e8f0;\">\n          <th style=\"padding:10px;text-align:center;color:#64748b;font-size:12px;text-transform:uppercase;\">#</th>\n          <th style=\"padding:10px;text-align:left;color:#64748b;font-size:12px;text-transform:uppercase;\">Título</th>\n          <th style=\"padding:10px;text-align:left;color:#64748b;font-size:12px;text-transform:uppercase;\">Empresa</th>\n          <th style=\"padding:10px;text-align:left;color:#64748b;font-size:12px;text-transform:uppercase;\">Fuente</th>\n          <th style=\"padding:10px;text-align:center;color:#64748b;font-size:12px;text-transform:uppercase;\">Acción</th>\n        </tr>\n      </thead>\n      <tbody>\n        ${rowsHtml || `<tr><td colspan=\"5\" style=\"padding:30px;text-align:center;color:#94a3b8;\">No se encontraron resultados nuevos en este momento.</td></tr>`}\n      </tbody>\n    </table>\n\n    <div style=\"margin-top:30px;padding-top:20px;border-top:1px solid #e5e7eb;text-align:center;font-size:12px;color:#94a3b8;\">\n      Has recibido este correo porque solicitaste un reporte inmediato. <br>\n      Tus reportes programados seguirán llegando normalmente.\n    </div>\n  </div>\n</div>\n`;\n\nconst subject = total > 0 \n  ? `⚡ Reporte Inmediato: ${total} prácticas disponibles` \n  : `Reporte Inmediato: Sin novedades por ahora`;\n\nreturn [{\n  json: {\n    to: emailTo,\n    subject,\n    html,\n    text: `Se encontraron ${total} ofertas para tu reporte inmediato.`,\n    total\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        944
      ],
      "id": "c0c097cf-86bb-463a-bc40-4e9210f7fa64",
      "name": "Build HTML"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d154a72-080e-415d-a29e-9337eba90379",
              "leftValue": "={{ $json.link || '' }}\n",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2784,
        912
      ],
      "id": "e1d82855-0e27-4360-881f-8ff18496a056",
      "name": "If - link existe (válido)",
      "notes": "TRUE → limpiar links → remove duplicates → filtrar preferencias\nFALSE → log a hoja \"Errores\" (timestamp, email, fuente, status, mensaje, preview)\n"
    },
    {
      "parameters": {
        "jsCode": "// Limpia parámetros de tracking en los links antes de deduplicar\nconst stripParams = [\n  'utm_source','utm_medium','utm_campaign','utm_term','utm_content',\n  'gclid','fbclid','fccid','vjs','from','ad','dq'\n];\n\nreturn items.map(({ json }) => {\n  if (json.link && typeof json.link === 'string') {\n    // normaliza entidades HTML tipo &amp;\n    let href = json.link.trim().replace(/&amp;/g, '&');\n\n    try {\n      // Soporta links relativos (Indeed a veces trae /rc/clk?...):\n      if (href.startsWith('/')) href = 'https://cl.indeed.com' + href;\n\n      const u = new URL(href);\n      // elimina parámetros de tracking\n      stripParams.forEach(p => u.searchParams.delete(p));\n      // quita el fragmento #...\n      u.hash = '';\n      // normaliza protocolo a https si venía http\n      if (u.protocol === 'http:') u.protocol = 'https:';\n\n      json.link = u.toString();\n    } catch {\n      // si falla el parseo, al menos quita &amp; y espacios\n      json.link = href;\n    }\n  }\n  return { json };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2512,
        816
      ],
      "id": "fe38579c-7088-4e10-aa7e-72e34489e8e8",
      "name": "limpiar links",
      "notes": "A veces el mismo aviso trae el mismo link con parámetros de tracking distintos"
    },
    {
      "parameters": {
        "jsCode": "// ================================================\n// FILTRAR POR PREFERENCIAS (Versión FINAL 2025 AJUSTADA)\n// Mantiene tus llamadas EXACTAS a Split In Batches1\n// Incluye mapa de equivalencias de regiones\n// ================================================\n\n\n// === Helpers ===\nfunction normalize(s) {\n    return String(s || \"\")\n        .normalize(\"NFD\")\n        .replace(/[\\u0300-\\u036f]/g, \"\")\n        .toLowerCase()\n        .trim();\n}\n\n// Canon modalidad → remoto / hibrido / presencial\nfunction canonModa(s) {\n    const t = normalize(s);\n    if (!t) return \"\";\n\n    if (t.includes(\"remot\")) return \"remoto\";\n    if (t.includes(\"hibrid\") || t.includes(\"mixt\") || t.includes(\"semi\"))\n        return \"hibrido\";\n    if (t.includes(\"presenc\") || t.includes(\"oficin\") || t.includes(\"onsite\"))\n        return \"presencial\";\n\n    return \"\";\n}\n\n\n// ================================================\n// NUEVO: MAPA DE REGIONES → Para igualar VIII, Concepción, Bío Bío, etc.\n// ================================================\nconst REGION_MAP = {\n    \"region metropolitana\": [\"rm\", \"metropolitana\", \"santiago\"],\n    \"region de valparaiso\": [\"region v\", \"valparaiso\"],\n    \"region del biobio\": [\"region viii\", \"concepcion\", \"bio bio\", \"bío bío\"],\n    \"region de coquimbo\": [\"region iv\", \"coquimbo\", \"la serena\"],\n    \"region de atacama\": [\"region iii\"],\n    \"region de antofagasta\": [\"region ii\", \"antofagasta\"],\n    \"region de tarapaca\": [\"region i\", \"iquique\"],\n    \"region de arica y parinacota\": [\"region xv\", \"arica\"],\n    \"region del maule\": [\"region vii\", \"maule\", \"talca\"],\n    \"region de ohiggins\": [\"region vi\", \"ohiggins\", \"rancagua\"],\n    \"region de los lagos\": [\"region x\", \"puerto montt\"],\n    \"region de los rios\": [\"region xiv\", \"valdivia\"],\n    \"region de aysen\": [\"region xi\", \"aysen\"],\n    \"region de magallanes\": [\"region xii\", \"punta arenas\"],\n};\n\n// Canon región\nfunction canonRegion(txt) {\n    const clean = normalize(txt);\n\n    for (const [std, aliases] of Object.entries(REGION_MAP)) {\n        if (clean.includes(std)) return std;\n\n        for (const a of aliases) {\n            if (clean.includes(a)) return std;\n        }\n    }\n\n    return clean; // fallback\n}\n\n\n// ================================================\n// 1) OBTENER PREFERENCIAS (mantengo EXACTAMENTE tus llamadas)\n// ================================================\nconst prefRegionRaw =$('Obtener Preferencias(HU4)').first().json['Región'] || \"\";\nconst prefModaRaw   = $('Obtener Preferencias(HU4)').first().json.Modalidad|| \"\";\n\nconst prefRegion = canonRegion(prefRegionRaw);\nconst prefModa   = canonModa(prefModaRaw);\n\n\n// ================================================\n// 2) FILTROS AJUSTADOS\n// ================================================\nfunction matchRegion(prefRegion, regionItem) {\n    if (!prefRegion) return true;\n    return canonRegion(regionItem) === prefRegion;\n}\n\nfunction matchModa(prefModa, itemModa) {\n    if (!prefModa) return true;\n\n    if (prefModa === \"remoto\") {\n        return itemModa === \"remoto\" || itemModa === \"hibrido\";\n    }\n\n    return itemModa === prefModa;\n}\n\n\n// ================================================\n// 3) PROCESAR OFERTAS (mantengo EXACTO tu bloque)\n// ================================================\nconst out = [];\n\nfor (const { json } of items) {\n    if (!json.link) continue;\n\n    const regionItem = json.region || \"\";\n\n    const modaItem =\n        canonModa(json.modalidad) ||\n        canonModa(json.region) ||\n        canonModa(json.titulo) ||\n        \"presencial\";\n\n    if (matchRegion(prefRegion, regionItem) && matchModa(prefModa, modaItem)) {\n        out.push({ json: { ...json, modalidad: modaItem } });\n    }\n}\n\n\n// ================================================\n// 4) DEBUG SI NO HAY COINCIDENCIAS\n// ================================================\nif (out.length === 0) {\n    return [{\n        json: {\n            msg: \"Sin coincidencias\",\n            prefRegionRaw,\n            prefRegion,\n            prefModa,\n            total_in: items.length\n        }\n    }];\n}\n\n\n// ================================================\n// 5) RESULTADO FINAL\n// ================================================\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2144,
        816
      ],
      "id": "ba974d91-8150-48bc-bd17-9362d7fa2634",
      "name": "Filtrar por preferencias"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "link",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -2336,
        816
      ],
      "id": "90421d48-cf37-41cc-965f-5558405cf8be",
      "name": "Remove Duplicates",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xhrrKc9J4yluGKOtezrDkrAui_L5t-1FaHIoyaPLC8E",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1368021364,
          "mode": "list",
          "cachedResultName": "Errores",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xhrrKc9J4yluGKOtezrDkrAui_L5t-1FaHIoyaPLC8E/edit#gid=1368021364"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now }}",
            "email": "={{ $('Split In Batches1').item.json.email }}",
            "fuente": "={{ $json.fuente || \"desconocida\" }}",
            "status": "={{ $json.statusCode || $json.code || \"\" }}",
            "mensaje": "={{ $json.mensaje || $json.error || \"sin datos\" }}",
            "preview": "={{ $json | json }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fuente",
              "displayName": "fuente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "preview",
              "displayName": "preview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2448,
        1024
      ],
      "id": "d3e78102-f6d1-4116-8200-3da81fe5673e",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aB54XzO7nk5Ur6oj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 808930077,
          "mode": "list",
          "cachedResultName": "LimitesReportes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit#gid=808930077"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $('Sanitizar1').first().json.Email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4fd3a8b7-d132-4811-9f8e-dfe3315ef962",
      "name": "HU13 - Get Límite (HU4)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1792,
        224
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aB54XzO7nk5Ur6oj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener datos desde los nodos anteriores\nconst limiteRow   = $items('HU13 - Get Límite (HU4)')[0]?.json || {};\nconst consumoRow  = $items('HU13 - Get Consumo Actual(HU4)')[0]?.json || {};\nconst emailRow    = $items('Sanitizar1')[0]?.json || {};\n\n// Convertir valores\nconst limite        = Number(limiteRow.limite || 0);\nconst usados_actual = Number(consumoRow.usados || 0);\n\n// Incremento\nconst usados_nuevo = usados_actual + 1;\n\n// Mes actual YYYY-MM\nconst mes = new Date().toISOString().slice(0, 7);\n\n// Timestamp\nconst actualizado_ts = new Date().toISOString();\n\n// Devolver un único item limpio (formato n8n)\nreturn [\n  {\n    json: {\n      email: emailRow.email || '',\n      limite,\n      usados_actual,\n      usados_nuevo,\n      mes,\n      actualizado_ts\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        944
      ],
      "id": "29eb5a2a-6879-4aa7-87b5-a89a5f53e913",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 808930077,
          "mode": "list",
          "cachedResultName": "LimitesReportes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit#gid=808930077"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d9ef7022-60c0-4102-b4bc-60f3ed3239ee",
      "name": "HU13 - Get Consumo Actual(HU4)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1536,
        224
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aB54XzO7nk5Ur6oj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Registro de Inscritos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Sanitizar1').item.json.Email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -672,
        304
      ],
      "id": "0f714187-ab96-403e-81af-df484eb132b5",
      "name": "Obtener Preferencias(HU4)",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aB54XzO7nk5Ur6oj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const limiteRow = $items('HU13 - Get Límite (HU4)')[0].json;\nconst consumoRow = $items('HU13 - Get Consumo Actual(HU4)')[0].json;\n\nconst limite = Number(limiteRow.limite || 0);\nconst usados = Number(consumoRow.usados || 0);\n\nreturn [{\n  exceeded: usados >= limite,\n  limite,\n  usados\n}];\n"
      },
      "id": "4b5781bc-36df-41e8-b213-f36496abf5f9",
      "name": "HU13 - IF excede límite? (HU4)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        224
      ]
    },
    {
      "parameters": {
        "content": "HU4 - Reporte Inmediato - Integrada con HU13",
        "height": 80,
        "width": 304,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2800,
        112
      ],
      "id": "6d3464ad-3918-416d-a4a7-fc45cab286e2",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 808930077,
          "mode": "list",
          "cachedResultName": "LimitesReportes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lzn7Q2zmv_7ZmR7RbtEe8sSHyciuNY_HlD28eOxyr3c/edit#gid=808930077"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('Sanitizar1').first().json.Email }}",
            "mes": "={{ $now.format('yyyy-MM') }}",
            "limite": "={{ $('HU13 - Get Límite (HU4)').first().json.limite }}",
            "usados": "={{ $json.usados_nuevo }}",
            "actualizado_ts": "={{ $now.toFormat(\"yyyy-LL-dd HH:mm:ss\") }}\n\n"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "limite",
              "displayName": "limite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "usados",
              "displayName": "usados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mes",
              "displayName": "mes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "actualizado_ts",
              "displayName": "actualizado_ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "key",
              "displayName": "key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a13d53f0-4218-49db-8d90-9fc7d9498b49",
      "name": "HU13 - Incrementar Consumo1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -736,
        944
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aB54XzO7nk5Ur6oj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const u = $json;\nreturn [{ email: u.Email, region: u[\"Región\"], modalidad: u[\"Modalidad\"], q: \"práctica informática\" }];"
      },
      "id": "4d750ed7-6526-4a64-863b-bba4e62b5d16",
      "name": "HU4 - Build Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        336
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "mensaje",
              "value": "Has alcanzado tu límite mensual de reportes on-demand."
            }
          ]
        },
        "options": {}
      },
      "id": "19c070c0-775f-4df6-b217-897adff3ace5",
      "name": "HU13 - Mensaje Límite Alcanzado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -704,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "93a61adf-edb1-4f5b-9b19-b8db59842231",
              "leftValue": "={{ $json.exceeded }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "277213bc-5d73-42d7-87a8-4ad39362d6d7",
      "name": "HU13 - IF (exceeded?)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1120,
        224
      ]
    },
    {
      "parameters": {
        "url": "https://r.jina.ai/https://www.laborum.cl/empleos-busqueda-practica-informatica.html",
        "allowUnauthorizedCerts": true,
        "responseFormat": "string",
        "jsonParameters": true,
        "options": {
          "followAllRedirects": true,
          "ignoreResponseCode": true
        },
        "headerParametersJson": "{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:130.0) Gecko/20100101 Firefox/130.0\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"es-CL,es;q=0.9\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\",\n  \"Upgrade-Insecure-Requests\": \"1\",\n  \"Cache-Control\": \"no-cache\",\n  \"Pragma\": \"no-cache\"\n}\n"
      },
      "id": "b4929047-1b6b-414b-b524-bcd870d47271",
      "name": "HTTP Laborum (placeholder)3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -48,
        368
      ],
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyAj3XZnU3uJGQvAZgcqjIFAARoKYB2NO7Y"
            },
            {
              "name": "cx",
              "value": "63640653858d34b46"
            },
            {
              "name": "q",
              "value": "practica informatica computrabajo"
            },
            {
              "name": "num",
              "value": "10"
            },
            {
              "name": "lr",
              "value": "lang_es"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -288,
        768
      ],
      "id": "3b1d7648-3210-4bb6-990b-0702ba0399fc",
      "name": "HTTP Request",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// `items` es el array que entra al Code node desde el HTTP Request\nconst salida = [];\n\nfor (const item of items) {\n  // Aquí está el JSON completo que te mostró el HTTP Node\n  const respuesta = item.json;\n\n  // De ahí sacamos el arreglo `items` de Google CSE\n  const resultados = respuesta.items || [];\n\n  for (const r of resultados) {\n    salida.push({\n      json: {\n        title: r.title,\n        url: r.link\n      }\n    });\n  }\n}\n\nreturn salida;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        768
      ],
      "id": "0ad5dcaf-6958-4b0f-8de5-7265f2e1ff3c",
      "name": "Code in JavaScript6",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "allowUnauthorizedCerts": true,
        "responseFormat": "string",
        "options": {
          "followAllRedirects": true,
          "ignoreResponseCode": true
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)              AppleWebKit/537.36 (KHTML, like Gecko)              Chrome/118.0.5993.118 Safari/537.36"
            },
            {
              "name": "Accept-Language",
              "value": "es-CL,es;q=0.9,en;q=0.8"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            },
            {
              "name": "Cookie",
              "value": "ONSENT=YES+1"
            }
          ]
        }
      },
      "id": "ac16487c-e1db-4c5e-aa6f-2a1b88cf93c2",
      "name": "HTTP ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        432,
        992
      ],
      "retryOnFail": true,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "titulo",
              "cssSelector": "h2.fs18 a.js-o-link"
            },
            {
              "key": "link",
              "cssSelector": "h2.fs18 a.js-o-link",
              "returnValue": "attribute",
              "attribute": "href"
            },
            {
              "key": "empresa",
              "cssSelector": "p.dFlex.vm_fx.fs16.fc_base.mt5"
            },
            {
              "key": "ubicacion",
              "cssSelector": "p.fs16.fc_base.mt5:not(.dFlex)"
            },
            {
              "key": "modalidad",
              "cssSelector": "div.fs13.mt15"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        848,
        992
      ],
      "id": "1cfed9a8-b542-41a4-856f-dea9ac3daf78",
      "name": "HTML",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const regionMap = {\n  \"R.Metropolitana\": \"Región Metropolitana\",\n  \"Metropolitana\": \"Región Metropolitana\",\n  \"Santiago\": \"Región Metropolitana\",\n  \"Valparaíso\": \"Región de Valparaíso\",\n  \"Biobío\": \"Región del Biobío\",\n  \"Antofagasta\": \"Región de Antofagasta\",\n  \"Coquimbo\": \"Región de Coquimbo\",\n  \"O'Higgins\": \"Región del Libertador General Bernardo O'Higgins\",\n  \"Maule\": \"Región del Maule\",\n  \"Ñuble\": \"Región de Ñuble\",\n  \"Araucanía\": \"Región de La Araucanía\",\n  \"Los Lagos\": \"Región de Los Lagos\",\n  \"Los Ríos\": \"Región de Los Ríos\",\n  \"Aysén\": \"Región de Aysén\",\n  \"Magallanes\": \"Región de Magallanes\",\n};\n\nfunction normalizarRegion(texto) {\n  if (!texto) return \"Sin región\";\n  let limpio = texto.replace(/\\n/g, \"\").replace(/\\s+/g, \" \").trim();\n  \n  // Seguridad anti-números (para que no se cuele un \"4.4\")\n  if (/^\\d+([,.]\\d+)?$/.test(limpio) || limpio.length < 3) return \"Sin región\";\n\n  const partes = limpio.split(/[,-]/);\n  for (let i = partes.length - 1; i >= 0; i--) {\n    const fragmento = partes[i].trim();\n    if (regionMap[fragmento]) return regionMap[fragmento];\n  }\n  const ultimoFragmento = partes[partes.length - 1].trim();\n  return regionMap[ultimoFragmento] || ultimoFragmento;\n}\n\nreturn items.map(item => {\n  const datos = item.json;\n\n  // 1. LIMPIEZA DE EMPRESA (Corrección aplicada aquí)\n  let empresa = (datos.empresa || \"\")\n    .replace(/\\n/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .replace(/\\[.*?\\]/g, \"\") // <--- BORRA LO QUE ESTÁ ENTRE CORCHETES [http...]\n    .replace(/https?:\\/\\/\\S+/g, \"\") // <--- BORRA URLs SUELTAS\n    .trim();\n\n  // Borrar nota si viene al principio (ej: \"4,4 Perceptual...\")\n  empresa = empresa.replace(/^\\d+([,.]\\d+)?\\s*/, \"\"); \n\n  // 2. Separación SUELDO / MODALIDAD\n  let infoRaw = (datos.info_extra || \"\").replace(/\\n/g, \" \").replace(/\\s+/g, \" \").trim();\n  let sueldo = \"No especificado\";\n  let modalidad = \"Presencial\"; \n\n  if (infoRaw.includes(\"$\")) {\n    const matchSueldo = infoRaw.match(/(\\$[\\s\\d.,]+(\\(Mensual\\))?)/i);\n    if (matchSueldo) {\n      sueldo = matchSueldo[0].trim();\n      infoRaw = infoRaw.replace(sueldo, \"\");\n    }\n  }\n\n  const textoLower = infoRaw.toLowerCase();\n  if (textoLower.includes(\"remoto\") && textoLower.includes(\"presencial\")) modalidad = \"Híbrido/Mixto\";\n  else if (textoLower.includes(\"remoto\") || textoLower.includes(\"teletrabajo\")) modalidad = \"Remoto\";\n  else if (textoLower.includes(\"híbrido\") || textoLower.includes(\"hibrido\")) modalidad = \"Híbrido\";\n  \n  // 3. Ubicación y Links\n  let ubicacionRaw = datos.ubicacion || \"\";\n  if (/^\\d+([,.]\\d+)?$/.test(ubicacionRaw.trim())) ubicacionRaw = \"\"; // Anti-números\n  \n  const ubicacionLimpia = ubicacionRaw.replace(/\\n/g, \"\").replace(/\\s+/g, \" \").trim();\n\n  let link = datos.link || \"\";\n  if (link && !link.startsWith(\"http\")) link = \"https://cl.computrabajo.com\" + link;\n\n  return {\n    json: {\n      fuente: \"Computrabajo\",\n      titulo: (datos.titulo || \"\").trim(),\n      empresa: empresa, // Ahora saldrá limpia: \"Perceptual Consultores Ltda.\"\n      sueldo: sueldo,\n      ubicacion: ubicacionLimpia,\n      region: normalizarRegion(ubicacionLimpia),\n      modalidad: modalidad,\n      link,\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        992
      ],
      "id": "074f7919-517c-466c-b8bc-38389a406343",
      "name": "Code in JavaScript14"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        304,
        736
      ],
      "id": "2d17b2bb-9003-4c1c-bc21-5d83f65d7a83",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Agregar Resultados  (MODO: Run Once for All Items)\n\nconst unicos = [];\nconst vistos = new Set();\n\n// Aquí usamos lo que llega por la salida \"done\" del Loop Over Items\n// Es decir, TODOS los resultados de Code in JavaScript10 ya combinados.\nfor (const item of $input.all()) {\n  const dato = item.json || {};\n\n  // Solo agregamos si tiene link y no lo hemos visto antes\n  if (dato.link && !vistos.has(dato.link)) {\n    vistos.add(dato.link);\n    unicos.push({ json: dato });\n  }\n}\n\n// Por si quieres ver en consola cuántos quedaron:\nconsole.log(`Ofertas Computrabajo únicas: ${unicos.length}`);\n\nreturn unicos;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        640
      ],
      "id": "16655919-26b1-4033-9ef2-45e3facfd1b9",
      "name": "Agregar Resultados"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyAj3XZnU3uJGQvAZgcqjIFAARoKYB2NO7Y"
            },
            {
              "name": "cx",
              "value": "63640653858d34b46"
            },
            {
              "name": "q",
              "value": "site:firstjob.me \"práctica\" informática"
            },
            {
              "name": "dateRestrict",
              "value": "w1"
            },
            {
              "name": "gl",
              "value": "cl"
            },
            {
              "name": "num",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "id": "95ebdd9c-6e5d-4f55-b7c2-fb42564cdd1b",
      "name": "Google Search (FirstJob)2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -16,
        128
      ],
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const salida = [];\n\nfor (const item of items) {\n  const json = item.json;\n  \n  // Si Google devolvió un error explícito\n  if (json.error || (json.statusCode && json.statusCode >= 400)) {\n      // No hacemos nada aquí, dejaremos que el bloque final lance el error\n  } else {\n      const resultados = json.items || [];\n      for (const r of resultados) {\n        salida.push({ json: { link: r.link } });\n      }\n  }\n}\n\n// --- EL SALVAVIDAS (Esto faltaba) ---\n// Si la lista está vacía, asumimos que hubo un error o no hay datos.\n// Pasamos un objeto de error para que el flujo NO se detenga.\nif (salida.length === 0) {\n    return [{\n        json: {\n            es_error: true,\n            fuente: \"FirstJob\",\n            mensaje: \"Error de API Google o Sin Resultados\",\n            link: \"ERROR_FIRSTJOB\" // Necesario para el deduplicador\n        }\n    }];\n}\n\nreturn salida;"
      },
      "id": "f8211bb9-2a65-4038-9792-11a7d113bbd3",
      "name": "Prep Links FJ2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        128
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "6d3a6e0c-da72-461c-9594-d98beee9801d",
      "name": "HTTP FirstJob2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        576,
        128
      ],
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "og_title",
              "cssSelector": "meta[property=\\\"og:title\\\"]",
              "returnValue": "attribute",
              "attribute": "content"
            },
            {
              "key": "og_desc",
              "cssSelector": "meta[property=\\\"og:description\\\"]",
              "returnValue": "attribute",
              "attribute": "content"
            },
            {
              "key": "json_ld",
              "cssSelector": "script[type=\\\"application/ld+json\\\"]"
            },
            {
              "key": "h1_title",
              "cssSelector": "h1"
            },
            {
              "key": "page_title",
              "cssSelector": "title"
            }
          ]
        },
        "options": {}
      },
      "id": "36a0dcec-838b-438c-bc98-ed7f88d96922",
      "name": "HTML FirstJob2",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        800,
        128
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// --- 1. PASE VIP PARA ERRORES (Al principio de todo) ---\n// Si llega el objeto de error que creamos en el nodo anterior, lo dejamos pasar.\nconst primerItem = items[0] ? items[0].json : {};\n\nif (primerItem.es_error) {\n    return [{\n        json: {\n            fuente: \"FirstJob\",\n            es_error: true,\n            mensaje: \"Problema al consultar Google/FirstJob\",\n            link: \"ERROR_FIRSTJOB\"\n        }\n    }];\n}\n\n// --- CÓDIGO NORMAL (Si son ofertas reales) ---\nconst linksOriginales = $('Prep Links FJ2').all(); \nconst empresasVIP = [\"Walmart\", \"Nestlé\", \"AFP Capital\", \"Cencosud\", \"Falabella\", \"Banco de Chile\", \"Streat Food\", \"Arcoprime\", \"KPMG\", \"SGS\", \"Nubox\", \"Transbank\", \"Enel\", \"Codelco\"];\n\nreturn items.map((item, i) => {\n  const datos = item.json;\n  \n  // Recuperar Datos\n  let rawTitle = datos.og_title || datos.h1_title || datos.page_title || \"\";\n  let rawDesc  = datos.og_desc || \"\";\n  let empresa  = \"Empresa Confidencial\";\n  \n  // JSON-LD\n  if (datos.json_ld) {\n      try {\n          const jsonLimpio = JSON.parse(datos.json_ld);\n          if (jsonLimpio.hiringOrganization && jsonLimpio.hiringOrganization.name) {\n              empresa = jsonLimpio.hiringOrganization.name;\n          } else if (Array.isArray(jsonLimpio)) {\n              const job = jsonLimpio.find(o => o['@type'] === 'JobPosting');\n              if (job && job.hiringOrganization) empresa = job.hiringOrganization.name;\n          }\n      } catch (e) {}\n  }\n\n  // Limpieza Título\n  let titulo = rawTitle\n    .replace(/\\(ID:\\s*\\d+\\)/i, \"\") \n    .replace(/\\s*-\\s*Práctica, Pasantía, Internship y Primeros Trabajos/ig, \"\")\n    .replace(/\\|\\s*FirstJob/i, \"\")\n    .replace(/\\-\\s*FirstJob/i, \"\")\n    .replace(/FirstJob/i, \"\")\n    .replace(/([\\u2700-\\u27BF]|[\\uE000-\\uF8FF]|\\uD83C[\\uDC00-\\uDFFF]|\\uD83D[\\uDC00-\\uDFFF])/g, '')\n    .trim();\n\n  // Detective Empresa\n  if (empresa === \"Empresa Confidencial\") {\n      let textoGigante = (titulo + \" \" + rawDesc).toLowerCase();\n      for (const vip of empresasVIP) {\n          if (textoGigante.includes(vip.toLowerCase())) {\n              empresa = vip;\n              break;\n          }\n      }\n      if (empresa === \"Empresa Confidencial\" && rawDesc) {\n        const match = rawDesc.match(/(?:en|parte de|somos|equipo de|invita a)\\s+([A-ZÁÉÍÓÚ0-9][a-zA-Z0-9áéíóúÁÉÍÓÚ\\s\\.\\-]+?)(?:,|\\.|!|y\\s|que\\s|\\sbuscamos|\\ste\\s)/);\n        if (match && match[1]) {\n           let nombreCapturado = match[1].trim();\n           if (nombreCapturado.length < 35 && nombreCapturado.length > 2 && !nombreCapturado.toLowerCase().includes(\"práctica\")) {\n             empresa = nombreCapturado;\n           }\n        }\n      }\n  }\n\n  // Modalidad y Región\n  let textoAnalisis = (titulo + \" \" + rawDesc).toLowerCase();\n  let modalidad = \"Presencial\"; \n  if (textoAnalisis.includes(\"remoto\")) modalidad = \"Remoto\";\n  else if (textoAnalisis.includes(\"híbrido\") || textoAnalisis.includes(\"hibrido\")) modalidad = \"Híbrido\";\n\n  let region = \"Región Metropolitana\"; \n  if (textoAnalisis.includes(\"valparaíso\") || textoAnalisis.includes(\"viña\")) region = \"Región de Valparaíso\";\n  else if (textoAnalisis.includes(\"biobío\") || textoAnalisis.includes(\"concepción\")) region = \"Región del Biobío\";\n  else if (textoAnalisis.includes(\"antofagasta\")) region = \"Región de Antofagasta\";\n\n  let link = linksOriginales[i]?.json?.link || \"https://firstjob.me\";\n\n  return {\n    json: {\n      fuente: \"FirstJob\",\n      titulo,\n      empresa, \n      region,\n      ubicacion: region,\n      modalidad,\n      link\n    }\n  };\n})\n.filter(item => {\n    // Filtro final: Si es una oferta real, debe tener título válido\n    const t = item.json.titulo;\n    return t && t.length > 5 && !t.includes(\"Práctica, Pasantía\");\n});"
      },
      "id": "b5b95d55-5c75-4679-9703-88d22f1bca51",
      "name": "Parse FirstJob2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        128
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1840,
        1104
      ],
      "id": "ebb6b19f-2562-4f90-8bda-33e68c1022e2",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "// CONFIGURACIÓN: Cambia esto según la rama (ej: \"FirstJob\", \"Laborum\", \"Computrabajo\")\nconst FUENTE_NOMBRE = \"Laborum\"; \n\nconst resultados = [];\nconst errores = [];\n\n// Analizamos la entrada del nodo HTTP/Google anterior\nfor (const item of items) {\n  const json = item.json;\n  \n  // DETECCIÓN DE ERROR (Nativo de n8n o HTTP Status malo)\n  // Si n8n atrapó un error o el status code es >= 400\n  if (json.error || (json.statusCode && json.statusCode >= 400)) {\n    errores.push({\n      fuente: FUENTE_NOMBRE,\n      es_error: true,\n      codigo: json.statusCode || json.error.code || 500, // Default a 500 si no hay código\n      mensaje_tecnico: json.message || json.error.message || \"Error desconocido\"\n    });\n  } else {\n    // ÉXITO: Pasamos el item tal cual (o procesado)\n    // Aseguramos que tenga la marca de la fuente por si acaso\n    resultados.push({\n      json: {\n        ...json,\n        fuente: FUENTE_NOMBRE,\n        es_error: false\n      }\n    });\n  }\n}\n\n// LÓGICA DE SALIDA\n// Si hubo error, pasamos el objeto de error para que el Merge lo reciba.\n// Si hubo éxito, pasamos los resultados.\nif (errores.length > 0) {\n  return [{ json: errores[0] }]; // Retornamos el error formateado\n}\n\nreturn resultados.map(r => ({ json: r.json }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        400
      ],
      "id": "fed57b98-b166-41de-9bf6-229288c03b57",
      "name": "Normalizar Respuesta Fuente5"
    },
    {
      "parameters": {
        "jsCode": "// CONFIGURACIÓN: Cambia esto según la rama (ej: \"FirstJob\", \"Laborum\", \"Computrabajo\")\nconst FUENTE_NOMBRE = \"FirstJob\"; \n\nconst resultados = [];\nconst errores = [];\n\n// Analizamos la entrada del nodo HTTP/Google anterior\nfor (const item of items) {\n  const json = item.json;\n  \n  // DETECCIÓN DE ERROR (Nativo de n8n o HTTP Status malo)\n  // Si n8n atrapó un error o el status code es >= 400\n  if (json.error || (json.statusCode && json.statusCode >= 400)) {\n    errores.push({\n      fuente: FUENTE_NOMBRE,\n      es_error: true,\n      codigo: json.statusCode || json.error.code || 500, // Default a 500 si no hay código\n      mensaje_tecnico: json.message || json.error.message || \"Error desconocido\"\n    });\n  } else {\n    // ÉXITO: Pasamos el item tal cual (o procesado)\n    // Aseguramos que tenga la marca de la fuente por si acaso\n    resultados.push({\n      json: {\n        ...json,\n        fuente: FUENTE_NOMBRE,\n        es_error: false\n      }\n    });\n  }\n}\n\n// LÓGICA DE SALIDA\n// Si hubo error, pasamos el objeto de error para que el Merge lo reciba.\n// Si hubo éxito, pasamos los resultados.\nif (errores.length > 0) {\n  return [{ json: errores[0] }]; // Retornamos el error formateado\n}\n\nreturn resultados.map(r => ({ json: r.json }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        128
      ],
      "id": "ca7dc245-613a-4fd9-824f-4ae5de4e5e21",
      "name": "Normalizar Respuesta Fuente6"
    },
    {
      "parameters": {
        "jsCode": "// CONFIGURACIÓN: Cambia esto según la rama (ej: \"FirstJob\", \"Laborum\", \"Computrabajo\")\nconst FUENTE_NOMBRE = \"FirstJob\"; \n\nconst resultados = [];\nconst errores = [];\n\n// Analizamos la entrada del nodo HTTP/Google anterior\nfor (const item of items) {\n  const json = item.json;\n  \n  // DETECCIÓN DE ERROR (Nativo de n8n o HTTP Status malo)\n  // Si n8n atrapó un error o el status code es >= 400\n  if (json.error || (json.statusCode && json.statusCode >= 400)) {\n    errores.push({\n      fuente: FUENTE_NOMBRE,\n      es_error: true,\n      codigo: json.statusCode || json.error.code || 500, // Default a 500 si no hay código\n      mensaje_tecnico: json.message || json.error.message || \"Error desconocido\"\n    });\n  } else {\n    // ÉXITO: Pasamos el item tal cual (o procesado)\n    // Aseguramos que tenga la marca de la fuente por si acaso\n    resultados.push({\n      json: {\n        ...json,\n        fuente: FUENTE_NOMBRE,\n        es_error: false\n      }\n    });\n  }\n}\n\n// LÓGICA DE SALIDA\n// Si hubo error, pasamos el objeto de error para que el Merge lo reciba.\n// Si hubo éxito, pasamos los resultados.\nif (errores.length > 0) {\n  return [{ json: errores[0] }]; // Retornamos el error formateado\n}\n\nreturn resultados.map(r => ({ json: r.json }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        128
      ],
      "id": "2ab79143-e295-4166-a507-4f1d94e71c08",
      "name": "Normalizar Respuesta Fuente7"
    },
    {
      "parameters": {
        "jsCode": "// CONFIGURACIÓN: Cambia esto según la rama (ej: \"FirstJob\", \"Laborum\", \"Computrabajo\")\nconst FUENTE_NOMBRE = \"Computrabajo\"; \n\nconst resultados = [];\nconst errores = [];\n\n// Analizamos la entrada del nodo HTTP/Google anterior\nfor (const item of items) {\n  const json = item.json;\n  \n  // DETECCIÓN DE ERROR (Nativo de n8n o HTTP Status malo)\n  // Si n8n atrapó un error o el status code es >= 400\n  if (json.error || (json.statusCode && json.statusCode >= 400)) {\n    errores.push({\n      fuente: FUENTE_NOMBRE,\n      es_error: true,\n      codigo: json.statusCode || json.error.code || 500, // Default a 500 si no hay código\n      mensaje_tecnico: json.message || json.error.message || \"Error desconocido\"\n    });\n  } else {\n    // ÉXITO: Pasamos el item tal cual (o procesado)\n    // Aseguramos que tenga la marca de la fuente por si acaso\n    resultados.push({\n      json: {\n        ...json,\n        fuente: FUENTE_NOMBRE,\n        es_error: false\n      }\n    });\n  }\n}\n\n// LÓGICA DE SALIDA\n// Si hubo error, pasamos el objeto de error para que el Merge lo reciba.\n// Si hubo éxito, pasamos los resultados.\nif (errores.length > 0) {\n  return [{ json: errores[0] }]; // Retornamos el error formateado\n}\n\nreturn resultados.map(r => ({ json: r.json }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        736
      ],
      "id": "c257cc01-3b95-4dbc-9554-e0333bf482d9",
      "name": "Normalizar Respuesta Fuente8"
    },
    {
      "parameters": {
        "jsCode": "// CONFIGURACIÓN: Cambia esto según la rama (ej: \"FirstJob\", \"Laborum\", \"Computrabajo\")\nconst FUENTE_NOMBRE = \"Computrabajo\"; \n\nconst resultados = [];\nconst errores = [];\n\n// Analizamos la entrada del nodo HTTP/Google anterior\nfor (const item of items) {\n  const json = item.json;\n  \n  // DETECCIÓN DE ERROR (Nativo de n8n o HTTP Status malo)\n  // Si n8n atrapó un error o el status code es >= 400\n  if (json.error || (json.statusCode && json.statusCode >= 400)) {\n    errores.push({\n      fuente: FUENTE_NOMBRE,\n      es_error: true,\n      codigo: json.statusCode || json.error.code || 500, // Default a 500 si no hay código\n      mensaje_tecnico: json.message || json.error.message || \"Error desconocido\"\n    });\n  } else {\n    // ÉXITO: Pasamos el item tal cual (o procesado)\n    // Aseguramos que tenga la marca de la fuente por si acaso\n    resultados.push({\n      json: {\n        ...json,\n        fuente: FUENTE_NOMBRE,\n        es_error: false\n      }\n    });\n  }\n}\n\n// LÓGICA DE SALIDA\n// Si hubo error, pasamos el objeto de error para que el Merge lo reciba.\n// Si hubo éxito, pasamos los resultados.\nif (errores.length > 0) {\n  return [{ json: errores[0] }]; // Retornamos el error formateado\n}\n\nreturn resultados.map(r => ({ json: r.json }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        992
      ],
      "id": "3eb9c0c9-e02e-4fc6-9e10-53b60a5f5b24",
      "name": "Normalizar Respuesta Fuente9"
    },
    {
      "parameters": {
        "jsCode": "// PARSER LABORUM – Con \"Pase de Error\"\n\nconst item = items[0].json;\n\n// --- 1. DETECCIÓN DE ERROR (¡Esto es lo que faltaba!) ---\n// Si el nodo HTTP anterior falló, n8n suele mandar un campo 'error' o 'statusCode' malo.\nif (item.error || (item.statusCode && item.statusCode >= 400)) {\n    // ¡Es un error! No intentamos parsear. Pasamos la alerta roja.\n    return [{\n        json: {\n            fuente: \"Laborum\",\n            es_error: true, // Esta es la bandera que activa la caja roja\n            codigo: item.statusCode || 500,\n            mensaje: \"Error de conexión o página no encontrada (Simulado)\"\n        }\n    }];\n}\n\n// --- 2. EXTRACCIÓN DE CONTENIDO ---\nconst rawData = item.data || item.content || \"\";\n// Convertimos a texto por si acaso llega un objeto raro\nconst raw = typeof rawData === 'object' ? JSON.stringify(rawData) : String(rawData);\n\nconst text = raw.includes(\"Markdown Content:\") \n  ? raw.split(\"Markdown Content:\")[1] \n  : raw;\n\n// --- 3. LÓGICA DE BÚSQUEDA (Tu código original) ---\nconst regex = /\\[([\\s\\S]*?)\\]\\((https?:\\/\\/[^\\s)]+)\\)/g;\n\nfunction limpiarEspacios(s) {\n  return String(s || \"\").replace(/\\n+/g, \" \").replace(/\\s+/g, \" \").trim();\n}\n\nconst ofertas = [];\n\nwhile (true) {\n  const m = regex.exec(text);\n  if (!m) break;\n\n  let inside = m[1];\n  const url  = m[2].trim();\n\n  if (/\\.(jpg|jpeg|png|gif)(\\?|$)/i.test(url)) continue;\n\n  inside = limpiarEspacios(inside);\n  let segments = inside.split(\"###\").map(limpiarEspacios).filter(s => s && !s.startsWith(\"![Image\"));\n\n  if (!segments.length) continue;\n\n  let tituloRaw = segments.find(s => /Pr[aá]ctica|Alumno/i.test(s)) || segments[0];\n  const matchTitulo = tituloRaw.match(/(Pr[aá]ctica|Alumno[a]? en Pr[aá]ctica)[^#]+/i);\n  let titulo = (matchTitulo ? matchTitulo[0] : tituloRaw).replace(/-{2,}.*$/, \"\").trim();\n  titulo = titulo.replace(/^\\s*(más de\\s+\\d+\\s+d[ií]as?|[\\d.,]+\\s*(horas?|d[ií]as?))\\s+/i, \"\");\n\n  let empresaSeg = segments[1] || \"\";\n  if (/^(Publicado|Actualizado)/i.test(empresaSeg)) empresaSeg = \"\";\n  \n  const idxEn = empresaSeg.search(/\\sEn\\s/i);\n  if (idxEn > 0) empresaSeg = empresaSeg.slice(0, idxEn);\n  const punto = empresaSeg.indexOf(\".\");\n  if (punto > 0) empresaSeg = empresaSeg.slice(0, punto);\n\n  let empresa = limpiarEspacios(empresaSeg);\n  if (!empresa) empresa = \"Sin empresa\";\n\n  const regionCandidates = segments.filter(s => /Región|Region/i.test(s));\n  let region = \"Sin región\";\n  if (regionCandidates.length) {\n    regionCandidates.sort((a, b) => a.length - b.length);\n    region = limpiarEspacios(regionCandidates[0]);\n  }\n\n  let modaSeg = [...segments].reverse().find(s => /Presencial|Híbrido|Hibrido|Remoto|Teletrabajo|Mixta/i.test(s)) || \"\";\n  let modalidad = \"Presencial\";\n  const mNorm = modaSeg.toLowerCase();\n  if (mNorm.includes(\"remoto\")) modalidad = \"Remoto\";\n  else if (mNorm.includes(\"híbrido\")) modalidad = \"Híbrido\";\n\n  ofertas.push({\n    json: {\n      fuente: \"Laborum\",\n      titulo,\n      empresa,\n      region,\n      modalidad,\n      link: url,\n    },\n  });\n}\n\n// Si no hay ofertas pero tampoco era un error técnico, devolvemos array vacío\n// (El Build HTML se encargará de decir \"No hay resultados\")\nif (!ofertas.length) return [];\n\nreturn ofertas;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        608
      ],
      "id": "d4e7cc15-9c83-44c2-b760-20adcc1621d7",
      "name": "parser laborum1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "formTitle": "Solicitud de reporte inmediato",
        "formDescription": "Genera un reporte inmediato usando tus preferencias guardadas.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "4828bea7-dbe7-4f58-ab9b-1fb069d5d79e",
      "name": "HU4 - Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -2752,
        -272
      ],
      "webhookId": "hu4_form_001",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/panel/reporte-inmediato",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2832,
        240
      ],
      "id": "6b79d9d2-88f4-4715-bc0a-8f69a91c0857",
      "name": "Webhook",
      "webhookId": "c424d1c1-a635-4438-a036-eeeb7ed47db1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ok\",\n  \"total\": \"={{$('Build HTML').first().json.total || 0}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -976,
        1152
      ],
      "id": "d445f427-9290-4b49-8342-8b2e32ce9467",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"msg\": \"⛔ Has alcanzado tu límite de reportes inmediatos por este mes.\"\n}",
        "options": {
          "responseCode": 429
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -288,
        -80
      ],
      "id": "32133d68-d52b-48d9-8388-dc741a6c97f6",
      "name": "Respond to Webhook-limite"
    }
  ],
  "pinData": {},
  "connections": {
    "If2": {
      "main": [
        [
          {
            "node": "Send email3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HU3 - Historial Ofertas2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HU3 - Historial Ofertas2": {
      "main": [
        [
          {
            "node": "Build HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HU3 - PrepararHistorial": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitizar1": {
      "main": [
        [
          {
            "node": "Buscar_Usuario_en_Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener next_run": {
      "main": [
        [
          {
            "node": "HU13 - Mensaje Límite Alcanzado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar_Usuario_en_Sheet1": {
      "main": [
        [
          {
            "node": "Existe_Usuario?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe_Usuario?1": {
      "main": [
        [
          {
            "node": "HU13 - Get Límite (HU4)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No existe email HU4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - link existe (válido)": {
      "main": [
        [
          {
            "node": "limpiar links",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "limpiar links": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar por preferencias": {
      "main": [
        [
          {
            "node": "HU3 - PrepararHistorial",
            "type": "main",
            "index": 0
          },
          {
            "node": "HU7 - Registrar Consulta2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Filtrar por preferencias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HU13 - Get Límite (HU4)": {
      "main": [
        [
          {
            "node": "HU13 - Get Consumo Actual(HU4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HU13 - Incrementar Consumo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HU13 - Get Consumo Actual(HU4)": {
      "main": [
        [
          {
            "node": "HU13 - IF excede límite? (HU4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Preferencias(HU4)": {
      "main": [
        [
          {
            "node": "HU4 - Build Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HU13 - IF excede límite? (HU4)": {
      "main": [
        [
          {
            "node": "HU13 - IF (exceeded?)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HU4 - Build Query": {
      "main": [
        [
          {
            "node": "Google Search (FirstJob)2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Laborum (placeholder)3",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HU13 - Mensaje Límite Alcanzado": {
      "main": [
        [
          {
            "node": "limite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HU13 - IF (exceeded?)": {
      "main": [
        [
          {
            "node": "Obtener next_run",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Preferencias(HU4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Laborum (placeholder)3": {
      "main": [
        [
          {
            "node": "Normalizar Respuesta Fuente5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Normalizar Respuesta Fuente8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP ": {
      "main": [
        [
          {
            "node": "Normalizar Respuesta Fuente9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Code in JavaScript14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript14": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Agregar Resultados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar Resultados": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Google Search (FirstJob)2": {
      "main": [
        [
          {
            "node": "Normalizar Respuesta Fuente6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Links FJ2": {
      "main": [
        [
          {
            "node": "HTTP FirstJob2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP FirstJob2": {
      "main": [
        [
          {
            "node": "HTML FirstJob2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML FirstJob2": {
      "main": [
        [
          {
            "node": "Normalizar Respuesta Fuente7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse FirstJob2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "If - link existe (válido)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Respuesta Fuente5": {
      "main": [
        [
          {
            "node": "parser laborum1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Respuesta Fuente6": {
      "main": [
        [
          {
            "node": "Prep Links FJ2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Respuesta Fuente7": {
      "main": [
        [
          {
            "node": "Parse FirstJob2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Respuesta Fuente8": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Respuesta Fuente9": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parser laborum1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HU4 - Form Trigger": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Sanitizar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "limite": {
      "main": [
        [
          {
            "node": "Respond to Webhook-limite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "249aae4b-2823-468e-896c-cd60b8c997ba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae9ab793f09030fcf5f823ea37df64baacdc27883c24dadb80017ad358f6f0ce"
  },
  "id": "jDQMaXYU1av6QQEt",
  "tags": []
}